<DefaultBlock RequiresUpdate Node="Node">
    <NodeBody>
        <div class="label"> @(Node?.OSCAddress ?? "No Parameter Configured")</div>
    </NodeBody>
    <NodeOutputs>
        <PortDesigner Port="Node.Ports.First() as BasePort" Value="this.Node.Value"/>
    </NodeOutputs>
</DefaultBlock>

@code
{
    [Parameter] public OSCReadNode Node { get; set; }
}