@using Blazor.Diagrams.Components.Renderers
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using System.Timers
@using dOSCEngine.Components.Inputs
@using dOSCEngine.Engine.Nodes
@using dOSCEngine.Services
@using dOSCEngine.Utilities

<DefaultBlock RequiresUpdate Node=Node>
    <NodeBody>
        <div class="label"> @(Node?.OSCAddress ?? "No Address Configured")</div>
    </NodeBody>
    <NodeOutputs>
        <PortDesigner Port="Node.Ports.First() as BasePort" Value="this.Node.Value" />
    </NodeOutputs>
</DefaultBlock>
@code
{
    [Parameter] public OSCReadNode Node { get; set; }
}