<DefaultBlock RequiresUpdate Node="Node">
    <NodeBody>
        <div class="label"> @(Node?.OSCAddress ?? "No Parameter Configured")</div>
    </NodeBody>
    <NodeInputs>
        <PortDesigner Port="Node.Ports.First() as BasePort"/>
    </NodeInputs>
</DefaultBlock>

@code
{
    [Parameter] public OSCWriteNode Node { get; set; }
}