<div class="nav">
    <NavContainer Apps="Apps">
        <Indicators>
            <div class="nav-connection-indicator" @onclick="ResetConnection">
                <div class="indicator-text"> Hub </div>
                <div class="indicator @(ConnectionClass)"></div>
            </div>
        </Indicators>
    </NavContainer>

</div>