@if (Visible && Item != null)
{
    <li class="@AppCSS" @onclick="OnClickEvent">
        <span data-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="@Item.Name">
            <div class="content">
                <div class="app-icon-container">
                    <span class="@AppIcon"/>

                </div>
            </div>
        </span>
    </li>
}