@using Blazor.Diagrams.Components.Renderers;
@using dOSCEngine.Components.Inputs;
@using dOSCEngine.Engine.Helper
@using dOSCEngine.Engine.Ports;

<div class="@this.Node.BlockHeaderClass" style="width:400px;">
    <div class="block-header d-flex d-inline w-100">
        <div class="icon">
            <svg width="24px" height="24px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>output</title> <g id="Layer_2" data-name="Layer 2"> <g id="invisible_box" data-name="invisible box"> <rect width="48" height="48" fill="none"></rect> </g> <g id="Layer_6" data-name="Layer 6"> <g> <path d="M45.4,22.6l-7.9-8a2.1,2.1,0,0,0-2.7-.2,1.9,1.9,0,0,0-.2,3L39.2,22H16a2,2,0,0,0,0,4H39.2l-4.6,4.6a1.9,1.9,0,0,0,.2,3,2.1,2.1,0,0,0,2.7-.2l7.9-8A1.9,1.9,0,0,0,45.4,22.6Z"></path> <path d="M28,42H24A18,18,0,0,1,24,6h4a2,2,0,0,0,1.4-.6A2,2,0,0,0,30,4a2.4,2.4,0,0,0-.2-.9A2,2,0,0,0,28,2H23.8a22,22,0,0,0,.1,44H28a2,2,0,0,0,1.4-.6l.4-.5A2.4,2.4,0,0,0,30,44,2,2,0,0,0,28,42Z"></path> </g> </g> </g> </g></svg>
        </div>
        <div class="title">OSC Avatar Read Button</div>

    </div>
    <div class="block-body">
        @for (int i = 0; i <= Node.Options.Count - 1; i++)
        {
            var P = Node.Ports[i];
            if(P.GetType() == typeof(NumericPort))
            {
                <div class="d-flex d-inline p-1 align-items-center justify-center">
                    <PortRenderer Class="numeric" Port="P" />
                    <h5> @Node.Options.ElementAt(i).ToString() </h5>
                </div>
            }
            else if (P.GetType() == typeof(LogicPort))
            {
                <div class="d-flex d-inline p-1 align-items-center justify-center">
                    <PortRenderer Class="logic" Port="P" />
                    <h5> @Node.Options.ElementAt(i).ToString() </h5>
                </div>
            }
        } 

    </div>
</div>
