<li class="">
    <div class="text ">
        <a class="@(TabName.Equals(ActiveTab)?"active":"")" href="#@(TabName)" @onclick:preventDefault @onclick="(()=> ActiveTab = TabName)">
            @TabName
            <div class="bottom-border" />

        </a>
    </div>
    <div class="bottom-border" />
</li>


@code{
    [Parameter]
    public string TabName { get; set; } = string.Empty;
    [Parameter]
    public string ActiveTab { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> ActiveTabChanged { get; set; }
}