<div class="item @ActiveCSS" @onclick="OnClick">
    <div class="icon-status @StatusCSS"></div>
    <div class="item-name marquee">
        <div class="@Marquee marquee__content">
            @SettingBase?.Name
        </div>
    </div>
</div>