<div class="modal modal-dialog-centered @modalClass" tabindex="-1" role="dialog" style="display:@modalDisplay; overflow-y: auto;" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-global w-100">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
            </div>
            <div class="modal-body ">
                @Body
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </div>
    </div>
</div>

@if (showBackdrop)
{
    <div class="modal-backdrop fade show" @onclick="Close" ></div>
}