@using dOSC.Component.Wiresheet.Nodes
<div class="node-header">
    @if (!Node.IconIsText)
    {
        <div class="node-header-icon @Node.Icon"></div>
    }
    else
    {
        <div class="node-header-icon text">@Node.Icon</div>
    }
    <div class="node-header-title"> @Node.GetNodeDisplayName()</div>
    @if (OnSettingsClicked.HasDelegate)
    {
        <div class="node-header-setting icon-cog " @onclick="OpenSettings"></div>
    }
</div>

@code{

    [Parameter] public WiresheetNode Node { get; set; } = new();
    [Parameter] public EventCallback<WiresheetNode> OnSettingsClicked { get; set; }
    
    private void OpenSettings()
    {
        if (OnSettingsClicked.HasDelegate)
        {
            OnSettingsClicked.InvokeAsync(Node);
        }
    }

}