@using Microsoft.AspNetCore.Components.Forms
<div class="playpause">
    <InputCheckbox dataType="checkbox" id="playpause" name="check" @bind-value="IsPlaying" onclick="Click" />
    <label for="playpause" tabindex=1></label>
</div>