<nav class=" wiresheet-toolbar navbar  navbar-expand-sm" style="user-select:none;">
    <div class="container-fluid">
        <div class="icon oi oi-code"></div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ps-2">
                @ChildContent
            </ul>
        </div>
    </div>
</nav>