<li class="dropdown-submenu" style="cursor:pointer;">
    <a class="dropdown-item">
        @Title <span class="float-end pointer">▶</span>
    </a>
    <ul class="dropdown-menu">
        @ChildContent
    </ul>
</li>