@page "/apps"
@page "/apps/{AppId:guid}"

@using Microsoft.AspNetCore.Components.Web.Virtualization
@using dOSC.Components.UI
@using dOSC.Components.Modals
@using Microsoft.AspNetCore.Components.Forms;

<div class="app-page"> 


</div>


