@page "/apps/editor/"
@page "/apps/editor/{AppId:guid}"
@using Blazor.Diagrams.Components
@using dOSC.Components
@using Blazor.Diagrams.Components.Widgets
@using dOSCEngine.Components.Wiresheet
@using dOSCEngine.Components.Wiresheet.UI
@using dOSCEngine.Components.Modals
@using Microsoft.AspNetCore.Components.Forms
@if (Wiresheet != null)
{
    <WiresheetToolbar>
        <ChildContent>
            <WiresheetToolbarDropdown Title="File" >
                <WiresheetToolbarDropdownItem Title="Save" OnClick="Save"/>
                <WiresheetToolbarDropdownItem Title="Revert" OnClick="Revert"/>
                <WiresheetToolbarDropdownDivider />
                <WiresheetToolbarDropdownItem Title="Exit" OnClick="Exit" />
            </WiresheetToolbarDropdown>
            <WiresheetToolbarDropdown Title="Edit" >
                <WiresheetToolbarDropdownItem Title="Undo" />
                <WiresheetToolbarDropdownItem Title="Redo" />
                <WiresheetToolbarDropdownItem Title="Group" />
                <WiresheetToolbarDropdownItem Title="Ungroup" />
            </WiresheetToolbarDropdown>
            <WiresheetToolbarDropdown Title="Wiresheet Controls" >
                <WiresheetToolbarDropdownItem Title="Play/Pause" />
            </WiresheetToolbarDropdown>
            <WiresheetToolbarDropdown Title="Blocks">
                <WiresheetToolbarDropdownSubmenuItem Title="Connectors">
                    <WiresheetToolbarDropdownSubmenuItem Title="Activity">
                        <WiresheetToolbarDropdownItem Title="Pulsoid" OnClick="Pulsoid" />
                    </WiresheetToolbarDropdownSubmenuItem>
                    <WiresheetToolbarDropdownSubmenuItem Title="OSC">
                        <WiresheetToolbarDropdownItem Title="OSC Boolean" OnClick="OSCBoolean" />
                        <WiresheetToolbarDropdownItem Title="OSC Boolean Read" OnClick="OSCReadBoolean" />
                        <WiresheetToolbarDropdownItem Title="OSC Float" OnClick="OSCFloat" />
                        <WiresheetToolbarDropdownItem Title="OSC Float Read" OnClick="OSCReadFloat" />
                        <WiresheetToolbarDropdownItem Title="OSC Int" OnClick="OSCInt" />
                        <WiresheetToolbarDropdownItem Title="OSC Int Read" OnClick="OSCReadInt" />
                        <WiresheetToolbarDropdownSubmenuItem Title="VRChat">
                            <WiresheetToolbarDropdownItem Title="OSC VRC Avatar Read" OnClick="OSCVRCAvatarRead" />
                            <WiresheetToolbarDropdownItem Title="OSC VRC Axis" OnClick="OSCVRCAxis" />
                            <WiresheetToolbarDropdownItem Title="OSC VRC Button" OnClick="OSCVRCButton" />
                            <WiresheetToolbarDropdownItem Title="OSC VRC ChatBox" OnClick="OSCVRCChat" />
                        </WiresheetToolbarDropdownSubmenuItem>
                    </WiresheetToolbarDropdownSubmenuItem>
                </WiresheetToolbarDropdownSubmenuItem>
                <WiresheetToolbarDropdownSubmenuItem Title="Constants">
                    <WiresheetToolbarDropdownItem Title="Logic" OnClick="Logic" />
                    <WiresheetToolbarDropdownItem Title="Numeric" OnClick="Numeric" />
                </WiresheetToolbarDropdownSubmenuItem>
                <WiresheetToolbarDropdownSubmenuItem Title="Logic">
                    <WiresheetToolbarDropdownItem Title="And" OnClick="AndBlock" />
                    <WiresheetToolbarDropdownItem Title="Equal" OnClick="EqualBlock" />
                    <WiresheetToolbarDropdownItem Title="Greater Than" OnClick="GreaterThan" />
                    <WiresheetToolbarDropdownItem Title="Greater Than Equal" OnClick="GreaterThanEqual" />
                    <WiresheetToolbarDropdownItem Title="Less Than" OnClick="LessThan" />
                    <WiresheetToolbarDropdownItem Title="Less Than Equal" OnClick="LessThanEqual" />
                    <WiresheetToolbarDropdownItem Title="Not" OnClick="Not" />
                    <WiresheetToolbarDropdownItem Title="Not Equal" OnClick="NotEqual" />
                    <WiresheetToolbarDropdownItem Title="Or" OnClick="Or" />
                    <WiresheetToolbarDropdownItem Title="XOr" OnClick="XOr" />
                </WiresheetToolbarDropdownSubmenuItem>
                <WiresheetToolbarDropdownSubmenuItem Title="Math">
                    <WiresheetToolbarDropdownItem Title="Absolute" OnClick="Absolute" />
                    <WiresheetToolbarDropdownItem Title="Add" OnClick="Add" />
                    <WiresheetToolbarDropdownItem Title="Average" OnClick="Average" />
                    <WiresheetToolbarDropdownItem Title="Clamp" OnClick="Clamp" />
                    <WiresheetToolbarDropdownItem Title="Division" OnClick="Divide" />
                    <WiresheetToolbarDropdownItem Title="Max" OnClick="Max" />
                    <WiresheetToolbarDropdownItem Title="Min" OnClick="Min" />
                    <WiresheetToolbarDropdownItem Title="Multiplication" OnClick="Multiply" />
                    <WiresheetToolbarDropdownItem Title="Negative" OnClick="Negative" />
                    <WiresheetToolbarDropdownItem Title="Power" OnClick="Power" />
                    <WiresheetToolbarDropdownItem Title="Sine" OnClick="Sine" />
                    <WiresheetToolbarDropdownItem Title="Square Root" OnClick="SquareRoot" />
                    <WiresheetToolbarDropdownItem Title="Subtract" OnClick="Subtract" />
                    <WiresheetToolbarDropdownItem Title="Summation" OnClick="Summation" />
                </WiresheetToolbarDropdownSubmenuItem>
                <WiresheetToolbarDropdownSubmenuItem Title="Utility">
                    <WiresheetToolbarDropdownItem Title="Logic Switch" OnClick="LogicSwitch" />
                    <WiresheetToolbarDropdownItem Title="Numeric Switch" OnClick="NumericSwitch" />
                </WiresheetToolbarDropdownSubmenuItem>
            </WiresheetToolbarDropdown>
        </ChildContent>
    </WiresheetToolbar>
    <div class="diagram-container" oncontextmenu="return false;">
    @if (Wiresheet != null)
    {
            <CascadingValue Value="diagram" IsFixed="true">
            <DiagramCanvas>
                <Widgets>
                    <SelectionBoxWidget />
                    <GridWidget Size="30" Mode="GridMode.Point" BackgroundColor="#2c2f33"  />
                </Widgets>
             </DiagramCanvas>
         </CascadingValue>

    }
    </div>
}

<ModalBase @ref=SaveModal>
    <Title>Save Application</Title>
    <Body>
 
        <EditForm id="SubmitForm" Model="Wiresheet"  OnValidSubmit="@SaveApp" class="d-flex flex-column align-items-center justify-content-center">
            <DataAnnotationsValidator />
            <div class="mb-3 w-100">
                <div class="mb-3 form-override">
                    <label for="inputAppName" class="form-label">Application Name</label>
                    <ValidationMessage For="@(() => Wiresheet.AppName)" />
                    <input type="text" class="form-control w-100" @bind-value=@Wiresheet.AppName id="inputAppName">
                </div>
            </div>
            <div class="mb-3 w-100" style="min-width:400px;">
                <div class="mb-3 form-override pb-1" style="max-height: 200px;">
                    <label for="inputAppDetailsTextarea" class="form-label">Descripton</label>
                    <ValidationMessage For="@(() => Wiresheet.AppDescription)" />
                    <textarea class="form-control" style="overflow-y: auto; height:200px;" id="inputAppDetailsTextarea" rows="3" @oninput="HandleOnChange">
                        @Wiresheet.AppDescription
                        </textarea>
                </div>
            </div>
        </EditForm>
            
      
    </Body>
    <Footer>
        <div class="d-flex flex-row justify-content-between w-100">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => SaveModal.Close()">Cancel</button>
            <button type="submit" form="SubmitForm" class="btn btn-primary" data-dismiss="modal">Save</button>
        </div>
        
    </Footer>
</ModalBase>