@page "/apps/editor/"
@page "/apps/editor/{AppId:guid}"
@using Blazor.Diagrams.Components
@using dOSC.Components
@using Blazor.Diagrams.Components.Widgets
@using dOSC.Components.Modals
@using dOSCEngine.Components.Wiresheet
@using dOSCEngine.Components.Wiresheet.UI
@using dOSCEngine.Components.Modals
@using Microsoft.AspNetCore.Components.Forms
@if (Wiresheet != null)
{
    <WiresheetToolbarComponent diagram="@diagram">
        <Options>
            <WiresheetToolbarDropdown Title="File" >
                <WiresheetToolbarDropdownItem Title="Save" OnClick="Save"/>
                <WiresheetToolbarDropdownItem Title="Revert" OnClick="Revert"/>
                <WiresheetToolbarDropdownItem Title="Export" OnClick="DownloadApp" />
                <WiresheetToolbarDropdownDivider />
                <WiresheetToolbarDropdownItem Title="Exit" OnClick="Exit" />
            </WiresheetToolbarDropdown>
@*             <WiresheetToolbarDropdown Title="Edit" >
                <WiresheetToolbarDropdownItem Title="Undo" />
                <WiresheetToolbarDropdownItem Title="Redo" />
                <WiresheetToolbarDropdownItem Title="Group" />
                <WiresheetToolbarDropdownItem Title="Ungroup" />
            </WiresheetToolbarDropdown> *@
@*             <WiresheetToolbarDropdown Title="Wiresheet Controls" >
                <WiresheetToolbarDropdownItem Title="Play/Pause" />
            </WiresheetToolbarDropdown> *@
        </Options>
    </WiresheetToolbarComponent>
            
    <div class="diagram-container" oncontextmenu="return false;">
    @if (Wiresheet != null)
    {
            <CascadingValue Value="diagram" IsFixed="true">
            <DiagramCanvas>
                <Widgets>
                    <SelectionBoxWidget />
                    <GridWidget Size="30" Mode="GridMode.Point" BackgroundColor="#2e3035" />
                </Widgets>
             </DiagramCanvas>
         </CascadingValue>

    }
    </div>
}

 

<ModalV2 @ref=SaveModal Title="Save Application">
    <Body>
        <EditForm id="SubmitForm" Model="Wiresheet" OnValidSubmit="@SaveApp" class="dosc-form">
            <DataAnnotationsValidator />
            <div class="dosc-form-item">
                <label for="inputAppName" class=" ">Name*</label>
                <ValidationMessage For="@(() => Wiresheet.AppName)" />
                <InputText @bind-Value=@Wiresheet.AppName id="inputAppName" autocomplete="off" />
            </div>
            <div class="dosc-form-item">
                <label for="inputAppDescription" class=" ">Description</label>
                <ValidationMessage For="@(() => Wiresheet.AppDescription)" />
                <InputTextArea @bind-Value=@Wiresheet.AppDescription id="inputAppDescription" rows="12" autocomplete="off" />
            </div>
            
        </EditForm>
    </Body>
    <Footer>
        <button type="submit" form="SubmitForm" class="dosc-button dosc-button-primary">Save</button>
        <button type="button" class="dosc-button dosc-button-secondary" @onclick="()=> SaveModal.Close()">Cancel</button>
    </Footer>
</ModalV2>
