@page "/apps"
@page "/apps/{AppId:guid}"
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using global::dOSC.Components.UI
@using global::dOSC.Components.Modals
@using Microsoft.AspNetCore.Components.Forms;

<div class="app-container">
    <div class="header">
        <div class="text-group">
            <div class="title">
                Application List
            </div>
            <div class="subtitle">
                List of all your current applications
            </div>
        </div>
        <div class="search-bar-container">
            <div class="search-bar">
                <i class="search-icon oi oi-magnifying-glass" />

                <input type="search" class="search-box" />
            </div>
        </div>
    </div>
    <AppPageNavigationComponent @bind-TabNames="NavTabs" @bind-ActiveTab="ActiveTab" />
    <div class="app-list">
        <div class="app-list-container">
            @{
                foreach(var app in Wiresheets)
                {
                    <AppProfileItem dOSCWiresheet="app" OnPlayPause="Save" OnShowSettings="ShowSettings" />

                }
            }
            <div class="new-item-app" >
                <div class="content" @onclick="NewApp">
                    <div class="title">
                        New App
                    </div>
                    <i class="icon icon-plus-circle" />
                </div>
                <hr />
                <div class="content" @onclick="(()=>UploadAppModal.Open())">
                    <div class="title">
                        Upload App
                    </div>
                    <i class="icon icon-upload" />
                </div>


                
            </div>
        </div>
    </div>
</div>

<SidePanelBase @ref=AppSettingsPanel dOSCWiresheet="Wiresheet"/>



@*
 Modals
*@

<ModalBase @ref=NewAppModal>
    <Title>New Application</Title>
    <Body>
        <p>
            Do you want to upload a new application or create a new one?
        </p>
    </Body>
    <Footer>
        <div class="d-flex flex-row w-100 align-items-center justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => NewAppModal.Close()">Close</button>
            <button type="button" class="btn btn-primary" onclick=@(()=> EditApp())> New </button>
            <button type="button" class="btn btn-primary" onclick=@(()=> {NewAppModal.Close(); UploadAppModal.Open();})> Upload </button>
        </div>
    </Footer>
</ModalBase>

<ModalBase @ref=UploadAppModal>
    <Title>Upload Application</Title>
    <Body>
        <UploadWiresheetFile DataCallback="UploadedFileCallback" />
    </Body>
    <Footer>
        <div class="d-flex flex-row justify-content-between w-100">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => UploadAppModal.Close()">Cancel</button>
            <button type="button" disabled="@(UploadedFile == null)" class="btn btn-primary" data-dismiss="modal" @onclick="()=>UploadApp()">Upload</button>
        </div>
    </Footer>
</ModalBase>

<ModalBase @ref=DeleteAppModal>
    <Title>Delete Application</Title>
    <Body>
        <p>
            Are you sure you want to delete this application?
        </p>
    </Body>
    <Footer>
        <div class="d-flex flex-row justify-content-between w-100">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => DeleteAppModal.Close()">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="() => DeleteApp()">Delete</button>
        </div>
    </Footer>
</ModalBase>

