@page "/apps"
@page "/apps/{AppId:guid}"
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using dOSC.Components.UI.App
@using global::dOSC.Components.UI
@using global::dOSC.Components.Modals
@using Microsoft.AspNetCore.Components.Forms;

<div class="app-container">
    <div class="header">
        <div class="text-group">
            <div class="title">
                Application List
            </div>
            <div class="subtitle">
                List of all your current applications
            </div>
        </div>
@*         <div class="search-bar-container">
            <div class="search-bar">
                <i class="search-icon oi oi-magnifying-glass" />

                <input type="search" class="search-box" placeholder="Search Loaded Applications" />
            </div>
        </div> *@
    </div>
@*     <AppPageNavigationComponent @bind-TabNames="NavTabs" @bind-ActiveTab="ActiveTab" />
 *@    <div class="app-list">
        <div class="app-list-container">
            @{
                foreach(var app in Wiresheets)
                {
                    <AppProfileItem dOSCWiresheet="app" OnPlayPause="Save" OnShowSettings="ShowSettings" />
                }
            }
            <div class="new-item-app" >
                <div class="content" @onclick="NewApp">
                    <div class="title">
                        New App
                    </div>
                    <i class="icon icon-plus-circle" />
                </div>
                <hr />
                <div class="content" @onclick="(()=>UploadAppModal.Open())">
                    <div class="title">
                        Upload App
                    </div>
                    <i class="icon icon-upload" />
                </div>
            </div>
        </div>
    </div>
</div>




@*
 Modals
*@

<SidePanelBase @ref=AppSettingsPanel dOSCWiresheet="Wiresheet" OnUpdate="OnUpdated" />

<ModalV2 @ref=UploadAppModal Title="Upload Application">
    <Body>
        <UploadWiresheetFile DataCallback="UploadedFileCallback"   />
    </Body>
    <Footer>
        <button type="button" disabled="@(UploadedFile == null)" class="dosc-button dosc-button-primary" @onclick="()=>UploadApp()">Upload</button>
        <button type="button" class="dosc-button dosc-button-secondary" @onclick="() => UploadAppModal.Close()">Cancel</button>
    </Footer>
</ModalV2>

