@page "/apps"
@page "/apps/{AppId}"
@using dOSC.Component.Modals
@using dOSC.Component.UI
@using dOSC.Component.UI.App


<div class="app-container">
    <div class="app-header">
        <div class="app-header-icon"><i class="fa-solid fa-code"></i></div>
        <div class="app-header-title">Applications</div>
        <div class="app-header-controls">
            <div class="app-header-control">
                <i class="fa-solid fa-cog"></i>
            </div>
            <div class="app-header-control">
                <i class="fa-solid fa-cog"></i>
            </div>
        </div>
    </div>
    <div class="app-list">
        <div class="app-list-container">
            <Virtualize Items="_apps">
                <AppProfileItem App="@context" OnShowSettings="ShowSettings"/>
            </Virtualize>  
            
            
            <div class="new-item-app">
                <div class="content" @onclick="NewApp">
                    <div class="title"> New App</div>
                    <i class="icon icon-plus-circle"></i>
                </div>
                <hr/>
                <div class="content" @onclick="() => _uploadAppModal.Open()">
                    <div class="title"> Upload App </div>
                    <i class="icon icon-upload"></i>
                </div>
            </div>
        </div>
    </div>
</div>


@*
 Modals
*@

@*
<SidePanelBase @ref="@_appSettingsPanel" App="_selectedApp"/>
*@

<ModalV2 @ref="@_uploadAppModal" Title="Upload Application">
    <Body>
    <UploadWiresheetFile DataCallback="UploadedFileCallback"/>
    </Body>
    <Footer>
        <button type="button" disabled="@(_uploadedFile == null)" class="dosc-button dosc-button-primary" @onclick="() => UploadApp()">Upload</button>
        <button type="button" class="dosc-button dosc-button-secondary" @onclick="() => _uploadAppModal.Close()">Cancel</button>
    </Footer>
</ModalV2>