@page "/apps"
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using dOSC.Components.UI
@using dOSC.Components.Modals

<div class="app-page">
    <div class="app-nav">
        <div class="app-nav-header">
            <div class="app-nav-header-title">
                <h3 class="icon oi oi-code"></h3>
                <h3>APPS</h3>
            </div>
@*             <form class="search-form" role="search">
                <i class="oi oi-magnifying-glass"></i>
                <input class="search-input form-control" type="search" placeholder="Search" aria-label="Search">
            </form> *@
        </div>
        <div class="app-nav-container">
            <Virtualize Items="@Wiresheets">
                <AppNavItem Wiresheet="@context" SelectedEvent="@OnSelected" Selected="@Wiresheet" />
            </Virtualize>
            
        </div>
        <div class="app-nav-footer">
            <div class="option">
                <span class="icon oi oi-plus" @onclick="()=> NewAppModal.Open()"> </span>
            </div>
        </div>
    </div>
    <div class="app-details">
        <div class="app-details-header">
            <div class="app-details-header-title">
                <h3>@Wiresheet?.AppGuid.ToString()</h3>
            </div>
        </div>
        <div class="app-details-body">
            <AppDetailItem Title="Section">
                <ChildContent>
                    <form>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>

                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </ChildContent>
            </AppDetailItem>

        </div>
        <div class="app-details-footer">
            <div class="option">
                <span class="icon icon-file-edit blue" @onclick="()=> NewAppModal.Open()"></span>
            </div>
            <div class="option">
                <span class="icon icon-trash-2 red" @onclick="()=> NewAppModal.Open()"></span>
            </div>
        </div>
    </div>
</div>





@*
 Modals
*@

<ModalBase @ref=NewAppModal>
    <Title>New Application</Title>
    <Body>
        <p>
            Do you want to upload a new application or create a new one?
        </p>
        <div class="d-flex flex-row w-100 align-items-center justify-content-evenly">
            <button class="btn btn-primary"> New Application </button>
            <button class="btn btn-primary"> Upload Application </button>
        </div>
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => NewAppModal.Close()">Close</button>
    </Footer>
</ModalBase>