@page "/"
@using dOSC.Component.UI.App
<div class="app-page">
    <div class="home-container">
        <div class="home-panel">
            <img src="/images/dOSC-logo.png"/>
            <div class="subtitle"> A Dynamic OSC App Sharing Platform </div>
        </div>
        <div class="home-panel-options">
            <SocialMediaBadge Large="true" ImageUri="/images/logo-twitter-new-white.png" Uri="https://twitter.com/duinrahaic" Label="Twitter"/>
            <SocialMediaBadge Large="true" ImageUri="/images/discord-mark.png" Uri="https://discord.gg/aZQfy6H9fA" Label="Discord"/>
            <SocialMediaBadge Large="true" ImageUri="/images/kofi-logo-white.png" Uri="https://ko-fi.com/duinrahaic" Label="Ko-Fi"/>
            <SocialMediaBadge Large="true" ImageUri="/images/patreon-mark-white.png" Uri="https://www.patreon.com/Duinrahaic" Label="Patreon"/>
            <SocialMediaBadge Large="true" ImageUri="/images/github-mark-white.png" Uri="https://github.com/Duinrahaic" Label="Github"/>
        </div>
    </div>
</div>