@page "/test"
@using dOSC.Components.Wiresheet.Blocks;


<div class="block tt" data-bs-placement="right" title="test">
    Hello World
</div>
<div style="padding:5px;">

    <TestBlock />

    <dOSC.Components.UI.Header>

    </dOSC.Components.UI.Header>

</div>


