<div class="settings-details">
    <div class="settings-label">Version</div>
    <div class="settings-content-column">
        <div class="text">
            Current Version: @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version
        </div>
    </div>
    <div class="settings-content-column">
        <div class="text">
            New Version: Unknown
        </div>
    </div>
    <div class="settings-content-row">

        
    </div>
</div>