@using dOSCEngine.Engine
@using dOSCEngine.Services
@using dOSCEngine.Engine.Nodes.Utility
@using dOSCEngine.Engine.Nodes


<ModalV2 @ref=Modal Title=@GetNodeName() Size="ModalV2.ModalSize.Medium">
    <Body>
        @if (SelectedBaseNode != null)
        {
            switch (SelectedBaseNode.GetProperty<string>(PropertyType.Type))
            {
                case "DelayNode":
                    <DelayBlockSetting Node="@SelectedBaseNode" Updated=@Updated />
                    break;
                default:
                    <DefaultBlockSetting Node="@SelectedBaseNode" Updated=@Updated />
                    break;
            }
        }
    </Body>
    <Footer>
        <button form="setting-form" inputmode="button" class="dosc-button primary"> Save </button>
    </Footer>
</ModalV2>



