$title-bar-size: 0px; //34px



$color-titlebar-textcolor: #949ba4;
$color-theme-1: #1d1e23;
$color-theme-2: #232428;
$color-theme-3: #2e3035;
$color-theme-4: #2b2d31;
$color-theme-5: #36373d;
$color-theme-6: #313338;
$color-dark: #2c2f33;
$color-lighter-dark: #45494e;
$color-lighter-dark-hover: #383d42;
$color-full-white: #ffffff;
$color-grey-white: #B9BBBE;
$color-grey-dark: #242629;
$color-actually-black: #000000;
$color-purple: #b98cff;
$color-purple-darker: #7762b2;
$color-purple-lighter: #cbacff;
$color-blurple: #7289da;
$color-blurple-lighter: #5865f2;
$color-blurple-darker: #202558;
$color-green: #00ae7a;
$color-green-darker: #007b56;
$color-green-lighter: #00faaf;
$color-orange: #feb145;
$color-orange-darker: #b17b30;
$color-orange-lighter: #ffca45;
$color-yellow: #fff14d;
$color-yellow-darker: #b2a835;
$color-yellow-lighter: #f5ff4d;
$color-pink: #eb459f;
$color-pink-darker: #651d3a;
$color-pink-lighter: #ff4a94;
$color-blue: #345ce7;
$color-blue-darker: #213b99;
$color-blue-lighter: #345ce7;
$color-grey: #B9BBBE;
$color-grey-darker: #87888b;
$color-wiresheet-toolbar: #3b3b40;
$color-bg-hover-white: rgba(255,255,255,.1);
$color-black: #1c1919;
$color-black-darker: #000000;
$color-black-lighter: #2f2a2a;
$color-white: #e6e6e6;
$color-white-darker: #a1a1a1;
$color-white-lighter: #ffffff;
$color-red: #ff413f;
$color-red-darker: #b24645;
$color-red-lighter: #fa6047;

$color-magenta: #ff00ff;

$color-error: rgba(237,67,55,1);
$color-error-darker: #a02d25;
$color-error-lighter: #ed4337;
$color-error-60: rgba(237,67,55,0.6);
$color-error-0: rgba(237,67,55,0);
$color-shadow-07: rgba(00, 00, 00,0.07);
$color-shadow-02: rgba(00, 00, 00,0.02);
$color-shadow-01: rgba(00, 00, 00,0.01);


/*Input Colors*/

$color-selected-darker: #49588d;
$color-selected: #7289da;

$color-primary: $color-blue;
$color-primary-darker: $color-blue-darker;

$color-secondary: $color-grey;
$color-secondary-darker: $color-grey-darker;

$color-success: $color-green;
$color-success-darker: $color-green-darker;

$color-danger: $color-error;
$color-danger-darker: $color-error-darker;

$color-warning: $color-orange;
$color-warning-darker: $color-orange-darker;

$color-disabled: $color-grey-darker;


$led-size: 15px;

$success:#00d563;
$warning:#ffc400;
$info:#4c84ff;
$error:#fd2f51;
$offline:#dfe1e9;



/*Font Family*/

$font-family: 'Varela Round', sans-serif;

/*Modal*/

$color-backdrop: rgba(0,0,0,0.5);

/* Layers */
$z-index-normal: 0;
$z-index-backdrop: 900;
$z-index-top: 1000;






@font-face {
    font-family: 'Varela Round';
    src: URL("./fonts/VarelaRound-Regular.ttf") format('truetype');
}