@import "_variables.scss";
.editform {
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
    padding: 4px;
    user-select: none;

    .content-item {
        position: relative;
        width: 100%;
        border-radius: 6px;
        font-size: 16px;

        label {
            font-weight: 600;
            padding-bottom: 4px;
        }


        input {
            font-size: 14px;
            padding: 8px;
            border-radius: inherit;
            width: 100%;
            background-color: $color-theme-4;
            border: solid 1px $color-theme-1;
            color: $color-full-white;

            &:focus {
                outline: solid 1px $color-blurple;
                box-shadow: 0 0 4px 1px $color-blurple;
            }
        }


        span.input {
            padding: 8px;
            border-radius: inherit;
            width: 100%;
            background-color: $color-theme-4;
            border: solid 1px $color-theme-1;
            color: $color-full-white;
            display: block;

            &:focus {
                outline: solid 1px $color-blurple;
                box-shadow: 0 0 4px 1px $color-blurple;
            }
        }


        textarea {
            font-size: 14px;
            padding: 8px;
            border-radius: inherit;
            width: 100%;
            color: $color-full-white;
            background-color: $color-theme-4;
            border: solid 1px $color-theme-1;

            &:focus {
                outline: solid 1px $color-blurple;
                box-shadow: 0 0 4px 1px $color-blurple;
            }
        }
    }
}
