@import "_variables.scss";


.modal {
    .modal-dialog {
        .modal-content {
            &.modal-global {
                background: $color-theme-2;
                .modal-header {
                    border-color: $color-theme-5;
                }
                .modal-footer {
                    border-color: $color-theme-5;
                }
            }
        }
    }
    
}