@import "_variables.scss";
@import "_animations.scss";

#snackbar-container {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: $z-index-top;

    .snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: $color-theme-1;
        margin-bottom: 20px;
        color: $color-full-white;
        text-align: center;
        border-radius: 4px;
        padding: 5px;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 13px;
        user-select: none;
        &.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
    }
}



.dosc-modal {
    width: 100%;
    height: 100%;
    z-index: $z-index-top;
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    overflow: hidden;
    animation: appear 50ms linear;

    &.dosc-modal-close {
        animation: disappear 50ms linear;
    }


    .dosc-modal-backdrop {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: $z-index-backdrop;
        background-color: $color-backdrop;
    }

    &.dosc-modal-small {
        .dosc-modal-container {
            .dosc-modal-content {
                width: 400px;
            }
        }
    }

    &.dosc-modal-medium {
        .dosc-modal-container {
            .dosc-modal-content {
                width: 600px;
            }
        }
    }

    &.dosc-modal-large {
        .dosc-modal-container {
            .dosc-modal-content {
                width: 800px;
            }
        }
    }

    &.dosc-modal-full {
        .dosc-modal-container {
            .dosc-modal-content {
                width: 100vw;
            }
        }
    }

    .dosc-modal-container {
        position: absolute;
        z-index: $z-index-top;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .dosc-modal-content {
            margin: auto;
            display: flex;
            flex-direction: column;
            background: $color-theme-1;
            border-radius: 8px;

            .dosc-modal-header {
                display: flex;
                flex-direction: row;
                font-size: 24px;
                justify-content: space-between;
                align-content: center;
                text-align: center;
                border-bottom: 1px solid $color-theme-3;
                padding: 6px 12px;

                .dosc-modal-header-title {
                    display: flex;
                    flex-direction: column;
                    font-weight: 600;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    user-select: none;
                }

                .dosc-modal-header-close {
                    display: flex;
                    flex-direction: column;
                    width: 36px;
                    height: 36px;
                    border-radius: 16px;
                    text-align: center;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background: $color-theme-3;
                    }
                }
            }

            .dosc-modal-body {
                padding: 4px 8px;

                .dosc-modal-body-content {
                    max-height: 80vh;
                    overflow-y: auto;
                }
            }

            .dosc-modal-footer {
                user-select: none;
                border-top: 1px solid $color-theme-3;
                padding: 10px 12px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-content: center;
                text-align: center;
            }
        }
    }
}