$title-bar-size: 0px; //34px



$color-titlebar-textcolor: #949ba4;
$color-theme-1: #1d1e23;
$color-theme-2: #232428;
$color-theme-3: #2e3035;
$color-theme-4: #2b2d31;
$color-theme-5: #36373d;
$color-dark: #2c2f33;
$color-lighter-dark: #45494e;
$color-lighter-dark-hover: #383d42;
$color-full-white: #ffffff;
$color-grey-white: #B9BBBE;
$color-grey-dark: #242629;
$color-actually-black: #000000;
$color-purple: #aa8cff;
$color-purple-darker: #7762b2;
$color-purple-lighter: #b98cff;
$color-blurple: #7289da;
$color-blurple-lighter: #5865f2;
$color-blurple-darker: #202558;
$color-green: #00ae7a;
$color-green-darker: #007b56;
$color-green-lighter: #00faaf;
$color-orange: #ef5d33;
$color-orange-darker: #a23f22;
$color-orange-lighter: #ff7d35;
$color-pink: #eb459f;
$color-pink-darker: #651d3a;
$color-pink-lighter: #ff4a94;
$color-blue: #3947fd;
$color-blue-darker: #2731b0;
$color-blue-lighter: #4337ff;
$color-grey: #B9BBBE;
$color-grey-darker: #B9BBBE;
$color-wiresheet-toolbar: #3b3b40;
$color-bg-hover-white: rgba(255,255,255,.1);
$color-error: rgba(237,67,55,1);
$color-error-darker: #a02d25;
$color-error-lighter: #ed4337;
$color-error-60: rgba(237,67,55,0.6);
$color-error-0: rgba(237,67,55,0);
$color-shadow-07: rgba(00, 00, 00,0.07);
$color-shadow-02: rgba(00, 00, 00,0.02);
$color-shadow-01: rgba(00, 00, 00,0.01);
