
@import "_variables.scss";
@import "_animations.scss";


.navbar.wiresheet-toolbar {
    background-color: $color-theme-2 !important;
    border-top-left-radius: 0.35rem;
    border-left: $color-wiresheet-toolbar 1px solid;
    border-top: $color-wiresheet-toolbar 1px solid;
    border-bottom: $color-wiresheet-toolbar 1px solid;
    padding: 0;
}

.navbar.wiresheet-toolbar .icon {
    color: $color-blurple;
    font-size: 36px;
    align-self: center;
}
.navbar.wiresheet-toolbar .navbar-nav {
    gap:0;
}

.navbar.wiresheet-toolbar .navbar-nav .nav-item a {
    border-radius: 0;
    color:$color-titlebar-textcolor;
    font-weight: 400;
}

.navbar.wiresheet-toolbar .navbar-nav .nav-item a:hover {
    background-color: $color-theme-3;
    color: $color-titlebar-textcolor;
}

.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: $color-theme-2;
    color: $color-titlebar-textcolor;
    border: $color-wiresheet-toolbar 1px solid;
}


.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown:hover> .dropdown-menu {
    display:none !important;
}

.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.active, .dropdown-item:hover, .dropdown-item:focus {
    background-color: $color-theme-3;
}
.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.active, .dropdown-item.show {
    background-color: $color-theme-3;
}


.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-divider {
    border-top: $color-wiresheet-toolbar 1px solid;
}



.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item .pointer {
    color: $color-titlebar-textcolor;
    font-size: small;
    font-stretch:condensed;
    align-self: center;
}


.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown:hover > .dropdown-menu {
    display: block !important;

}

.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown-submenu:hover > .dropdown-menu {
    display: block !important;
    left: 100%;
    margin-top: -37px;

}
.navbar.wiresheet-toolbar .navbar-nav .nav-item .dropdown-submenu:hover > .dropdown-menu {
    display: block !important;
    left: 100%;
    margin-top: -37px;
}

/* Wiresheet */

.diagram-container {
    width: 100%;
    height: 100%;
    background-color: $color-theme-3;
}



.block {
    border-radius: 10px;
    padding-left: 4px;
    overflow: visible;

}
.block.selected {
    box-shadow: 0 0 8px 1px $color-selected;
}

.block.error {
    border-radius: 10px;
    box-shadow: 0 0 0 $color-error-60;
    animation: error 2s infinite;
}

@-webkit-keyframes error {
    0% {
        -webkit-box-shadow: 0 0 0 0 $color-error-60;
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px $color-error-0;
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 $color-error-0;
    }
}

@keyframes error {
    0% {
        -moz-box-shadow: 0 0 0 0 $color-error-60;
        box-shadow: 0 0 0 0 $color-error-60;
    }

    70% {
        -moz-box-shadow: 0 0 0 10px $color-error-0;
        box-shadow: 0 0 0 10px $color-error-0;
    }

    100% {
        -moz-box-shadow: 0 0 0 0 $color-error-0;
        box-shadow: 0 0 0 0 $color-error-0;
    }
}

.block.logicblock {
    background-color: $color-green;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    border: solid 2px $color-theme-1;
}

.block.logicblock .block-header .icon {
    padding: 4px;
}

.block.logicblock .block-header .title {
    color: white;
    background-color: $color-green;
    padding: 4px;
    border-radius: 10px;
    flex-grow: 1;
}

.block.numericblock {
    background-color: $color-purple;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    border: solid 2px $color-theme-1;
}

.block.numericblock .block-header .icon {
    padding: 4px;
}

.block.numericblock .block-header .title {
    color: white;
    background-color: $color-purple;
    padding: 4px;
    border-radius: 10px;
    flex-grow: 1;
}

.block.stringblock {
    background-color: $color-orange;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    border: solid 2px $color-theme-1;
}

.block.stringblock .block-header .icon {
    padding: 4px;
}

.block.stringblock .block-header .title {
    color: white;
    background-color: $color-orange;
    padding: 4px;
    border-radius: 10px;
    flex-grow: 1;
}



.block.connectorblock {
    background-color: $color-pink;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    border: solid 2px $color-theme-1;
}

.block.connectorblock .block-header .icon {
    padding: 4px;
    &.hidden{
        display: none;
    }
    &.show {
        display: block;
    }

}

.block.connectorblock .block-header .title {
    color: white;
    background-color: $color-pink;
    padding: 4px;
    border-radius: 10px;
    flex-grow: 1;
}




.block .block-body {
    overflow: hidden;
    background-color: $color-theme-1;
    padding: 10px 4px 0px 4px;
    color: $color-full-white;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 10px;
    border: solid 2px $color-theme-1;
}


.diagram-label {
    position: absolute;
    color: $color-full-white;
    font-weight: 400;
    pointer-events: none;
}

.diagram-label.left{
    left: 0px;
    transform: translateX(-100%);
    text-align: right;
}
.diagram-label.right {
    right: -116px;
    text-align: left;
    width: 100px;
    transform: translateY(-20px);
}

.diagram-port {
    position: absolute;
    background-color: $color-full-white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
 
}
.diagram-port.top {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.diagram-port.bottom {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.diagram-port.right {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    right: -16px;
    transform: translateY(-4px);
}
.diagram-port.right .label{
    
}

.diagram-port.left {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    left: -16px;
    transform: translateY(-4px);
}

.logic {
    background-color: $color-green;
    border: solid 2px $color-theme-1;
}

.logic:hover {
    background-color: $color-green-darker;
}

.multi {
    background-color: #ffffff;
    border: solid 2px $color-theme-1;
}

.multi:hover {
    background-color: #b2b2b2;
}

.numeric {
    background-color: $color-purple;
    border: solid 2px $color-theme-1;
}

.numeric:hover {
    background-color: $color-purple-darker;
}

.string {
    background-color: $color-orange;
    border: solid 2px $color-theme-1;
}

.string:hover {
    background-color: $color-orange-darker;
}



// Block context menu


.block-context-menu {
    position: absolute;
    background-color: $color-theme-1;
    border: solid 2px $color-theme-1;
    border-radius: 10px;
    padding: 4px;
    z-index: 1000;
    display: none;

    .visible{
        display: block;
    }

    .item{
        padding: 8px 10px;
        font-size: 15px;
        color: $color-titlebar-textcolor;
        cursor: pointer;
        border-radius: inherit;
        
        :hover{
            background: $color-theme-2;
        }
    }



}



.block-container {
    border-radius: 10px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 2px 2px;
    min-width: 120px;
    background-color: $color-grey-white;
    border: solid 2px $color-theme-1;
    user-select: none;
    font-weight: bolder;
    font-size: 18px;
 

    &.numeric {
        background-color: $color-purple;
        color: $color-full-white;
    }

    &.logic {
        background-color: $color-green;
        color: $color-full-white;
    }

    &.connector {
        background-color: $color-pink;
        color: $color-full-white;
    }

    &.string {
        background-color: $color-orange;
        color: $color-full-white;
    }

    &:hover {
        .block-container-header {
            .block-container-header-setting {
                opacity: 1;
                transition: opacity ease-in-out 250ms;
            }
        }
    }

    &.selected {
        box-shadow: 0 0 8px 1px $color-selected;
    }

    &.error :not(.selected) {
        border-radius: 10px;
        box-shadow: 0 0 0 $color-error-60;
        animation: error 2s infinite;
    }

    .block-container-header {
        display: flex;
        flex-direction: row;
        gap: 0px 2px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2px 4px;

        .block-container-header-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18px;
            width: 18px;
            padding: 10px;
        }

        .block-container-header-title {
            flex-grow: 1;
            height: 18px;
            display: flex;
            justify-content: start;
            align-items: center;
            white-space: nowrap;
        }

        .block-container-header-setting {
            opacity: 0;
            transition: opacity ease-in-out 250ms;
            height: 18px;
            width: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            padding: 10px;



            &:hover {
                background: $color-theme-3;
            }
        }
    }

    .block-container-body-container {
        padding-left: 4px;
         font-weight: bolder;
        font-size: 18px;
        color: $color-full-white;

        .block-container-body {
            border: 1px solid $color-theme-1;
            padding: 4px 4px;
            background: $color-theme-1;
            display: flex;
            gap: 0 20px;
            flex-direction: column;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            justify-content: end;
            align-items: center;

            .block-container-body-ports {
                border: 1px solid $color-theme-1;
                padding: 0px 4px;
                background: $color-theme-1;
                display: flex;
                gap: 0 20px;
                flex-direction: row;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                justify-content: end;
                align-items: center;
                position: relative;
                width: 100%;
                
                .block-container-port-container {
                    padding: 4px;
                    width: 100%;
                    &.input {
                        .item {
                            align-items: start;

                            .port {
                                position:absolute;
                                left: -26px;
                            }
                        }
                    }

                    &.output {
                        .item {
                            align-items: end;
                            .label{
                                text-align: right;
                                width: 100%;
                            }


                            .port-label {
                                right: -124px;
                                text-align: left;
                                width: 100px;
                                transform: translateY(-14px);
                            }

                            .port {
                                right: -24px;
                            }
                        }
                    }

                    .item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 4px 0;

                        .port-label {
                            position: absolute;
                            color: $color-full-white;
                            font-weight: 400;
                            pointer-events: none;
                        }

                        .port {
                            transform: translateY(2px);
                            position: absolute;
                            background-color: $color-full-white;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            border: solid 2px $color-theme-1;

                            &:hover {
                                box-shadow: 0 0 2px 1px $color-selected;
                            }

                            &.logic {
                                background-color: $color-green;

                                &:hover {
                                    background-color: $color-green-darker;
                                }
                            }

                            &.numeric {
                                background-color: $color-purple;

                                &:hover {
                                    background-color: $color-purple-darker;
                                }
                            }

                            &.multi {
                                background-color: $color-full-white;

                                &:hover {
                                    background-color: $color-grey;
                                }
                            }

                            &.string {
                                background-color: $color-orange;

                                &:hover {
                                    background-color: $color-orange-darker;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}