@using dOSC.Components.UI.Setting
<table class="third-party-table">
    <thead>
        <tr>
            <th style="width:20%;">Integration</th>
            <th style="width:55%;">Description</th>
            <th style="width:10%;">Status</th>
            <th style="width:15%;"></th>
        </tr>
    </thead>
    <tbody>
        <tr style="user-select: none;">
            <td>
                <div class="third-party-connector">
                    <div class="text">
                        Open Sound Control (OSC)
                    </div>
                </div>
            </td>
            <td>A protocol for networking computers and devices</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr style="user-select: none;">
            <td>
                <div class="third-party-connector">
                    <img src="_content/dOSCEngine/images/Pulsoid-Logo-500x281.png" alt="Pulsoid" />
                </div>
            </td>
            <td>A real time heart rate for streaming</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr style="user-select: none;">
            <td>
                <div class="third-party-connector">
                    <img src="_content/dOSCEngine/images/SteamVR-Logo-500x281.png" alt="SteamVR" />
                </div>
            </td>
            <td>Launch dOSC with SteamVR</td>
            <td>Cell</td>
            <td>To Be Added Later</td>
        </tr>

    </tbody>
</table>