@if (Visible && Item != null)
{
	<span data-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="@Item.Name">
		<li class="@AppCSS" @onclick="OnClickEvent">


		</li>
	</span>

}
