@using System.Collections.Concurrent;
<div class="form-control">
    @foreach (var l in Log.OrderByDescending(x => x.Key))
    {
        <div>@l.Value</div>
    }

</div>

@code{
    [Parameter]
    public ConcurrentDictionary<DateTime, string> Log { get; set; }
    [Parameter]
    public EventCallback<ConcurrentDictionary<DateTime, string>> LogChanged { get; set; }


    protected override void OnParametersSet()
    {
        StateHasChanged();
        
    }
}