@using Microsoft.AspNetCore.Components.Forms
@if (Show)
{
    <div class="app-sidepanel-container @(CloseAnimation?"close":"")">
        <div class="sidepanel">
            <div class="content">
                <span class="close icon icon-x" @onclick="Close" />
                <span class="download icon icon-download" @onclick="DownloadApp"/>

                <div class="app-image-container">
                    <div class="app-image app-automated-on" style="background: url(@(CurrentAppImage)) no-repeat center; background-size: contain;"/>
                    <div class="imageUpload icon-image-plus">
                        <InputFile class="inputFile" OnChange="LoadFiles"  accept=".png,.jpg" />
                    </div>
                </div>
                
                <div class="content-body">
                    <div class="scroll-content">
                        <EditForm Model="dOSCWiresheet" class="editform">
                            <div class="content-item">
                                <label>Title</label>
                                <InputText @bind-Value=dOSCWiresheet.AppName />
                            </div>
                            <div class="content-item">
                                <label>Description</label>
                                <InputTextArea rows="12" @bind-Value=dOSCWiresheet.AppDescription  />
                            </div>
                            <div class="content-item">
                                <label>Avatar Tigger Ids</label>
                                <InputTextArea rows="12" @bind-Value=dOSCWiresheet.AppDescription />
                            </div>
                        </EditForm>
                    </div>
                </div>
                <div class="options">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
        <div class="backdrop" @onclick="Close" />
    </div>
}
