@if (DisplayValue != null)
{
    <span class="port-label @LabelPositionClass.ToString()">
        @if (Utilities.Classifier.IsNumericType(DisplayValue.GetType()))
        {
            @DisplayValue?.ToString(StringFormat)
        }
        else
        {
            @DisplayValue?.ToString()
        }
    </span>
}