@if (DisplayValue != null)
{
    <span class="diagram-label @LabelPositionClass.ToString()">  
        @if (IsNumeric)
        {
            @DisplayValue?.ToString("G5")
        }
        else
        {
            @DisplayValue?.ToString()
        }
    </span>
}