@using Blazor.Diagrams.Components.Renderers
@using dOSC.Components.Inputs;
@using dOSC.Engine.Ports;
<div class="@this.Node.BlockHeaderClass">
    <div class="block-header d-flex d-inline">
        <div class="icon"></div>
        <div class="title">Clamp</div>
    </div>
    <div class="block-body">
        <div class="d-flex d-inline p-1 align-items-center justify-center">
            <PortRenderer Class="numeric" Port="this.Node.Ports[0]" />
            <h5>Input</h5>
        </div>
        <div class="d-flex d-inline p-1 align-items-center justify-center">
            <PortRenderer Class="numeric" Port="this.Node.Ports[1]" />
            <h5>Max</h5>
        </div>
        <div class="d-flex d-inline p-1 align-items-center justify-center">
            <PortRenderer Class="numeric" Port="this.Node.Ports[2]" />
            <h5>Min</h5>
        </div>
        <div class="d-flex d-inline p-1 align-items-center justify-center">
            <PortRenderer Class="numeric" Port="this.Node.Ports[3]" />
            <h5>Output</h5>
        </div>
    </div>

</div>