@using Blazor.Diagrams.Components.Renderers
<div class="@this.Node.BlockHeaderClass" style="width: 150px;">
    <div class="block-header d-flex d-inline">
        <div class="icon">÷</div>
        <div class="title">Divide</div>
    </div>
    <div class="block-body">
        <div class="d-flex flex-column">
            <div class="d-flex d-inline p-1 align-items-center justify-center">
                <PortRenderer Class="numeric" Port="this.Node.Ports[0]" />
                <h5>Input A</h5>
            </div>
            <div class="d-flex d-inline align-items-center justify-center-end py-2">
                <PortRenderer Class="numeric" Port="this.Node.Ports[2]" />
            </div>
            <div class="d-flex d-inline p-1 align-items-center justify-center">
                <PortRenderer Class="numeric" Port="this.Node.Ports[1]" />
                <h5>Input B</h5>
            </div>
        </div>
    </div>
</div>
 