@using Blazor.Diagrams.Components.Renderers
<div class="@this.Node.BlockHeaderClass" style="width: 150px;">
    <div class="block-header d-flex d-inline">
        <div class="icon">∑</div>
        <div class="title">Sum</div>
    </div>
    <div class="block-body">
        <div class="d-flex flex-column">
            <div class="d-flex d-inline p-1 align-items-center justify-center">
                <PortRenderer Class="numeric" Port="this.Node.Ports[0]" />
                <h5>Inputs</h5>
                <PortRenderer Class="numeric" Port="this.Node.Ports[1]" />
            </div>
        </div>
    </div>
</div>
 