@using Blazor.Diagrams.Components.Renderers;
@using dOSCEngine.Components.Inputs;
@using dOSCEngine.Engine.Helper
@using dOSCEngine.Engine.Ports;
<div class="@this.Node.BlockHeaderClass">
    <div class="block-header d-flex d-inline">
        <div class="icon p-0"> <svg width="36px" height="36px" viewBox="0 0 76 76" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" enable-background="new 0 0 76.00 76.00" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.304"></g><g id="SVGRepo_iconCarrier"> <path fill="#ffffff" fill-opacity="1" stroke-linejoin="round" d="M 36,23L 30,23L 30,40L 25,40L 25,23L 19,23L 19,19L 36,19L 36,23 Z M 57,40L 50,40L 50,45L 56,45L 56,49L 50,49L 50,57L 45,57L 45,36L 57,36L 57,40 Z M 44,19L 48.5,19L 32.5,57L 28,57L 44,19 Z "></path> </g></svg>  </div>
        <div class="title">Logic</div>
    </div>
    <div class="block-body">
        <PortValueLabel LabelPosition=PortValueLabel.Position.Right DisplayValue="this.Node.Value" />
        <ToggleSwitch Text="Output" Node="this.Node"/>
    </div>
</div>
