@implements IDisposable
<div class="dOSC-progress-bar-container">
    <div class="dOSC-progress-bar-indicator" style="width: @(Node.Progress)%;" @key="Node.Progress"> </div>
</div>  


@code {

    [Parameter] public BaseNode Node { get; set; } = null!;

    private DateTime _lastUpdate = DateTime.MinValue;

    protected override bool ShouldRender()
    {
        return Node?.Dragging != true;
    }

    private void Update()
    {
        if (DateTime.Now - _lastUpdate > GraphSettings.UpdateInterval & Node?.Dragging != true)
        {
            _lastUpdate = DateTime.Now;
            InvokeAsync(StateHasChanged);
        }
    }
    
    protected override void OnInitialized()
    {
        Node.OnProgressBarUpdateRequest += Update;
    }

    public void Dispose()
    {
        Node.OnProgressBarUpdateRequest -= Update;
    }

 

}