<li class="">
    <div class="text ">
        <a class="@(ActiveStateCSS)" href="#@(TabName)" @onclick:preventDefault @onclick="OnClick">
            @TabName
            <div class="bottom-border"/>

        </a>
    </div>
    <div class="bottom-border"/>
</li>


@code{
    [Parameter] public string TabName { get; set; } = string.Empty;
    [Parameter] public string ActiveTab { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ActiveTabChanged { get; set; }

    private string ActiveStateCSS => TabName.Equals(ActiveTab) ? "active" : "";

    private void OnClick()
    {
        ActiveTab = TabName;
        ActiveTabChanged.InvokeAsync(TabName);
    }

}