<div class="dOSC-wiresheet-toolbar-dropdown-item @(Disabled? "disabled" : string.Empty)" >
    <div class="dOSC-wiresheet-toolbar-dropdown-item-icon">
        @if (HasIcon)
        {
            <i class="@Icon"></i>
        }
    </div>
    <div class="dOSC-wiresheet-toolbar-dropdown-item-label">
        @Label        
    </div>
    <div class="dOSC-wiresheet-toolbar-dropdown-item-hotkey">
        @Hotkey
    </div>
</div>


@code{

    [Parameter] public string Icon { get; set; } = string.Empty;
    private bool HasIcon => !String.IsNullOrEmpty(Icon);
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string Hotkey { get; set; } = string.Empty;
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public EventCallback OnClick { get; set; }


    private void Clicked()
    {
        OnClick.InvokeAsync();
    }

}