<div class="wiresheet-panel @(Anchor == WiresheetPanelAnchor.Right ? "right": "left" ) @(Collapsed ? "collapsed": string.Empty)">
    @if (Header != null)
    {
        <div class="wiresheet-panel-header">
            @Header
        </div>
    }
    <div class="wiresheet-panel-body">
        @Body
    </div>
    @if (Footer != null)
    {
        <div class="wiresheet-panel-footer">
            @Footer
        </div>
    }

</div>
@code {
    [Parameter] public RenderFragment? Header { get; set; } = null;

    [Parameter] public RenderFragment Body { get; set; } = default!;

    [Parameter] public RenderFragment? Footer { get; set; } = null;
    
    [Parameter] public WiresheetPanelAnchor Anchor { get; set; } = WiresheetPanelAnchor.Left;

    [Parameter] public bool Collapsed { get; set; } = true;

    
}