@using dOSC.Component.Wiresheet.Nodes
<div class="wiresheet-component-toolbar-item" @onclick="HandleOnClick">
    <div class="wiresheet-component-toolbar-item-icon  @(Node.IconIsText ? string.Empty : Node.Icon)">
        @if (Node.IconIsText)
        {
            @Node.Icon
        }
    </div>
    <div class="wwiresheet-component-toolbar-item-label">
        @Node.GetDisplayName()
    </div>
</div>
@code {
    [Parameter] 
    public WiresheetNode Node { get; set; } = new WiresheetNode();
    
    [Parameter]
    public EventCallback<WiresheetNode> OnClick { get; set; }

    private void HandleOnClick()
    {
        OnClick.InvokeAsync(Node);  
    }
}