@page "/settings"
@using dOSC.Client.Components
@using dOSC.Client.Components.Form
@using dOSC.Client.Components.Form.SettingsPages
@using dOSC.Client.Components.UI.Setting
@using dOSC.Client.Components.UI.Table


<div class="app-page">
    <div class="settings-container">
        <div class="header">
            <div class="text-group">
                <div class="title">
                    Settings
                </div>
            </div>
        </div>
        <div class="content">
            <div class="settings-nav-container">
                <ul>
                    <SettingNavItemComponent Title="General" Description="General settings and updates" Icon="icon-home" Selected="@SelectedCategory" OnNavItemSelected="OnSelectedItemChanged"/>
                    <SettingNavItemComponent Title="Third-Party Integrations" Description="Manage external connections" Icon="icon-cable" Selected="@SelectedCategory" OnNavItemSelected="OnSelectedItemChanged"/>
                    <SettingNavItemComponent Title="Notifications" Description="Customize your notifications" Icon="icon-bell" Selected="@SelectedCategory" OnNavItemSelected="OnSelectedItemChanged"/>
                    <SettingNavItemComponent Title="About" Description="Find out more about dOSC" Icon="icon-person-standing" Selected="@SelectedCategory" OnNavItemSelected="OnSelectedItemChanged"/>
                </ul>
            </div>
            <div class="settings-content">
                @{
                    switch (SelectedCategory)
                    {
                        case "General":
                            <div class="settings-content-header">
                                <div class="text-group">
                                    <div class="title">
                                        General
                                    </div>
                                    <div class="subtitle">
                                        General settings and updates
                                    </div>
                                </div>
                            </div>
                            <div class="settings-content-container">
                                <GeneralSettingsPage/>
                            </div>
                            break;
                        case "Third-Party Integrations":
                            <div class="settings-content-header">
                                <div class="text-group">
                                    <div class="title">
                                        Third-Party Connections
                                    </div>
                                    <div class="subtitle">
                                        Manage external connections
                                    </div>
                                </div>
                            </div>
                            <div class="settings-content-container">
                                <ConnectorTable/>
                            </div>
                            break;
                        case "Notifications":
                            <div class="settings-content-header">
                                <div class="text-group">
                                    <div class="title">
                                        Notifications
                                    </div>
                                    <div class="subtitle">
                                        TBA
                                    </div>
                                </div>
                            </div>
                            break;
                        case "About":
                            <div class="settings-content-header">
                                <div class="text-group">
                                    <div class="title">
                                        About
                                    </div>
                                    <div class="subtitle">
                                        TBA
                                    </div>
                                </div>
                            </div>
                            break;
                    }
                }
            </div>
        </div>
    </div>
</div>