@import "_variables.scss";
@import "_animations.scss";

.app-container {
  overflow-x: hidden;
  margin-top: 16px;
  padding: 4px 16px;

  display: flex;
  gap: 12px 12px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-height: 100vh;

  .app-header{
    user-select: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background: $color-theme-1;
    padding: 4px 6px;
    
    border-radius: 8px;
    color: $color-full-white;
    gap: 8px;
    .app-header-icon
    {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background: $color-selected;
        padding: 2px; 
        width: 30px;
        height: 30px;
        border-radius: 6px;
    }
    
    .app-header-title{
        flex-grow: 1;
        font-size: 24px;

    }
    
    .app-header-controls{
      display: flex;
      gap: 8px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: $color-full-white;
      
      .app-header-control{
          display: flex;
          align-items: center;
          justify-content: center;
        
        
      }
    }
    
  }
  
  .app-list {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    user-select: none;
    

    .app-list-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 24px 24px;

      .new-item-app {
        height: 380px;
        width: 240px;
        border: $color-green-darker 4px dashed;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 36px;
        color: $color-full-white;
        padding: 32px;
        user-select: none;

        &:hover {
          transform: scale(1.05);
          transition: all .2s ease-in-out;
          box-shadow: 0 0 8px 1px $color-green-darker;
        }

        .content {
          justify-content: center;
          display: flex;
          flex-direction: column;
          color: $color-full-white;
          height: 100%;
          cursor: pointer;

          .title {
            font-size: 24px;
            font-weight: 600;
            color: $color-full-white;
          }

          &:hover {
            transform: scale(1.25);
            transition: all .2s ease-in-out;
          }
        }

        hr {
          color: solid 4px $color-full-white;
        }

        .lower {
        }
      }

      .item-app {
        height: 380px;
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-content: center;
        position: relative;

        &:hover {
          transform: scale(1.05);
          transition: all .2s ease-in-out;
          
          .item-app-content{
            .item-app-content-controls{
              opacity: 100%;
            }
          }
        }
        .item-app-image-container{
          position: absolute;
          transform: translatey(-160px) translatex(20px);

        }
        .item-app-image {
          position: relative;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: solid 6px $color-grey;
          background: url("../wwwroot/images/dev-icon.png") no-repeat center;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -o-background-size: contain;
          background-size: contain;
          display: flex;
          justify-items: center;
          align-items: center;
          overflow: hidden;

          &:hover {
            cursor: pointer;
            .icon {
              opacity: 1;
              transition: all .25s ease-in-out;
            }
          }


          .icon {
            opacity: 0;
            text-align: center;
            text-shadow: 4px 4px 8px #000;
            width: 100%;
            font-size: 120px;
            color: $color-full-white;
          }

          &.app-running {
            border-color: $color-green;
            box-shadow: 0 0 4px 2px $color-green;

            &:hover {
            }
          }

          &.app-automated-on {
            border-color: $color-blue;
            box-shadow: 0 0 4px 2px $color-blue;
          }

          &.app-stopped {
            border-color: $color-error;
            box-shadow: 0 0 4px 2px $color-error;
          }

          &.app-disabled {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
          }
        }

        .item-app-content-status-container {
          position: absolute;
          top: 205px;
          width: 100%;
          display: flex;
          align-items: end;
          justify-content: center;
          font-size: 14px;
          transform: translateY(-10px);
          user-select: none;
          pointer-events: none;

          .item-app-content-status {
            color: $color-full-white;
            background: $color-grey;
            padding: 4px 8px;
            border-radius: 20px;

            &.app-running {
              background: $color-green;
              box-shadow: 0 0 4px 2px $color-green;
            }

            &.app-automated-on {
              background: $color-blue;
              box-shadow: 0 0 4px 2px $color-blue;
            }

            &.app-stopped {
              background: $color-error;
              box-shadow: 0 0 4px 2px $color-error;
            }

            &.app-disabled {
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
            }
          }
        }


        .item-app-content {
          background-color: $color-theme-1;
          border-radius: 12px;
          height: 300px;
          padding: 16px 16px;
          margin-top: 150px;
          display: flex;
          flex-direction: column;


          .item-app-content-title {
            font-size: 18px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: start;
            margin-top: 80px;
            overflow: hidden;
            font-weight: 500;
            max-width: 208px;
            word-break: break-word;
            white-space: normal;
            hyphens: auto;
            text-overflow: ellipsis;
            flex-grow: 1;
            color: $color-full-white;
            width: 100%;
          }

          .item-app-content-controls {
            width: 100%;
            opacity: 0;
            display: flex;
            padding-top: 10px;
            flex-direction: row;
            gap: 10px 10px;
            justify-content: center;
            
            .item-app-content-control{
              display: flex;
              align-items: center;
              justify-content: center;
              background: $color-theme-1;
              min-width: 40px;
              min-height: 40px;
              border-radius: 8px;
              font-size: 20px;
              color: $color-full-white;
              
              &:hover{
                cursor: pointer;
                color: $color-grey;
              }

              &.badge-color-primary{
                color: $color-selected;
                &:hover:not(.disabled){
                  cursor: pointer;
                  color: darken($color-selected, 0.5);
                }
              }
              &.badge-color-secondary{
                color: $color-secondary;
                &:hover:not(.disabled){
                  cursor: pointer;
                  color: darken($color-secondary, 0.5);
                }
              }
            }
            
          }

        }
      }
    }
  }
}

.app-sidepanel-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &.close {
    .sidepanel {
      animation: 250ms ease-in-out 0s 1 slideOutToRight;
    }

    .backdrop {
      animation: 250ms ease-in-out 0s 1 disappear;
    }

    transition-delay: 250ms;
    opacity: 0;
  }

  .sidepanel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 600px;
    background-color: $color-theme-2;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow-y: hidden;
    animation: 250ms ease-in-out 0s 1 slideInFromRight;

    @media screen and (max-width: 600px) {
      width: 100%;
      border-radius: 0px;
    }


    .icon {
      font-size: 24px;
      color: $color-full-white;
      font-weight: 800;
      position: absolute;
      padding: 0px 6px;
      border-radius: 24px;

      &.close {
        top: 4px;
        left: 4px;
      }

      &.download {
        top: 4px;
        right: 6px;
      }

      &:hover {
        cursor: pointer;
        background-color: $color-theme-3;
      }
    }

    .content {
      padding: 16px;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      position: relative;


      .app-image-container {
        position: relative;

        .app-image-options {
          width: 100%;

          .item-app-content-status-container {
            position: absolute;
            top: 205px;
            width: 100%;
            display: flex;
            align-items: end;
            justify-content: center;
            font-size: 14px;
            transform: translateY(-28px);
            user-select: none;
            pointer-events: none;

            .item-app-content-status {
              color: $color-full-white;
              background: $color-grey;
              padding: 4px 8px;
              border-radius: 20px;

              &.app-running {
                background: $color-green;
                box-shadow: 0 0 4px 2px $color-green;
              }

              &.app-automated-on {
                background: $color-blue;
                box-shadow: 0 0 4px 2px $color-blue;
              }

              &.app-stopped {
                background: $color-error;
                box-shadow: 0 0 4px 2px $color-error;
              }

              &.app-disabled {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
              }
            }
          }

          .imageUpload {
            color: $color-full-white;
            position: relative;
            bottom: 32px;
            float: right;
            font-size: 26px;
            background: $color-theme-4;
            border: solid 1px $color-full-white;
            border-radius: 26px;
            padding: 2px 8px;

            .inputFile {
              opacity: 0.0;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              width: 100%;
              height: 100%;
            }

            &:hover {
              transform: scale(1.1);
              transition: all 250ms ease-in-out;
            }
          }

          .imageRemove {
            color: $color-full-white;
            position: relative;
            bottom: 32px;
            float: left;
            font-size: 26px;
            background: $color-theme-4;
            border: solid 1px $color-full-white;
            border-radius: 26px;
            padding: 2px 8px;


            &:hover {
              transform: scale(1.1);
              transition: all 250ms ease-in-out;
            }
          }
        }


        .app-image {
          width: 200px;
          height: 200px;
          min-width: 200px;
          min-height: 200px;
          border-radius: 120px;
          border: solid 6px $color-grey;
          overflow: hidden;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -o-background-size: contain;
          background-size: contain;
          display: flex;
          justify-items: center;
          align-items: center;

          &:hover {
            .icon {
              opacity: 1;
              transition: all .25s ease-in-out;
            }
          }

          &.app-running {
            border-color: $color-green;
            box-shadow: 0 0 4px 2px $color-green;
          }

          &.app-automated-on {
            border-color: $color-blue;
            box-shadow: 0 0 4px 2px $color-blue;
          }

          &.app-stopped {
            border-color: $color-error;
            box-shadow: 0 0 4px 2px $color-error;
          }

          &.app-waiting {
            border-color: $color-grey;
          }

          &.app-disabled {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
          }
        }
      }


      .content-body {
        flex-grow: 1;
        width: 100%;
        height: 60px;
        position: relative;

        .scroll-content {
          overflow-y: auto;
          height: 100%;
          padding-bottom: 12px;
        }
      }

      .options {
        height: 40px;
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 2px 24px;
        align-content: center;
        justify-content: space-evenly;
      }
    }
  }

  .backdrop {
    background-color: $color-backdrop;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: 250ms ease-in-out 0s 1 appear;
    overflow: hidden;
    z-index: $z-index-backdrop;
  }
}

.social-media-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: $color-theme-1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-full-white;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    user-select: none;
  
    &.large {
       transform: scale(2); 
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 8px;
    }
  
  
    &:hover {
        .social-media-circle-text {
          opacity: 1;
          transform: translateY(50%) scale(1);
        }
        box-shadow: 0 0 4px 1px $color-blurple;
    }
  
   .social-media-circle-text {
     position: absolute;
     top: 50%;
     opacity: 0;
     transition: 250ms ease-in-out;
     transform: translateY(0) scale(0);
     white-space: nowrap;
   }
}