@import "_variables.scss";

.dosc-button {
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
  color: $color-full-white;
  padding: 0 4px;
  min-width: 12ch;
  border-radius: 8px;
  padding: 2px 8px;


  @include gradient-3d($color-primary);
  &:hover {
    @include gradient-3d(darken($color-primary, 5%));
  }
  
  &:disabled {
    background-color: $color-disabled;
    color: $color-grey-dark;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:not(:disabled) {
    &.dosc-button-primary {
      color: $color-full-white;
      @include gradient-3d($color-primary);
      &:hover {
        @include gradient-3d(darken($color-primary, 5%));
      }
    }

    &.dosc-button-secondary {
      color: $color-full-white;

      @include gradient-3d($color-secondary);
      &:hover {
        @include gradient-3d(darken($color-secondary, 5%));
      }
    }

    &.dosc-button-danger {
      color: $color-full-white;

      @include gradient-3d($color-danger);
      &:hover {
        @include gradient-3d(darken($color-danger, 5%));
      }
    }

    &.dosc-button-warning {
      color: $color-full-white;

      @include gradient-3d($color-warning);
      &:hover {
        @include gradient-3d(darken($color-warning, 5%));
      }
    }

    &.dosc-button-success {
      color: $color-full-white;
      @include gradient-3d($color-success);
      &:hover {
        @include gradient-3d(darken($color-success, 5%));
      }
    }
  }

  /*
  */
}