@import "_variables.scss";
@import "_animations.scss";


.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  
  .home-panel {
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    flex-shrink: 4;
    border-radius: 20px;
    user-select: none;
    justify-content: center;
    align-items: center;
    background-color: $color-theme-1;


    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .subtitle {
      position: relative;
      bottom: 50px;
      color: $color-full-white;
      font-size: 34px;
    }
  }

  .home-panel-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 40px;
    width: 100%;
    margin-top: 40px;
    
  }
}
