@import "_variables.scss";
@import "_animations.scss";


.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .home-panel {
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    flex-shrink: 4;
    border-radius: 20px;
    user-select: none;
    justify-content: center;
    align-items: center;
    background-color: $color-theme-1;


    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .subtitle {
      position: relative;
      bottom: 50px;
      color: $color-full-white;
      font-size: 34px;
    }
  }

  .home-panel-options {
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: row;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        margin: 10px;
        width: 100%;
        height: 100%;
        color: $color-full-white;


        &:hover {
          transform: scale(1.1);
          transition: ease-in-out 100ms;

          .option {
            box-shadow: 0 0 4px 1px $color-blurple;
          }

          .option-text {
            transition: ease-in-out 100ms;
            opacity: 1;
          }
        }

        .option-text {
          display: flex;
          align-content: center;
          justify-content: center;
          opacity: 0;
          position: absolute;
          word-break: keep-all;
          white-space: nowrap;
          transform: translateY(45px);
        }

        .option {
          background-color: $color-theme-1;
          height: 60px;
          width: 60px;
          border-radius: 30px;
          padding: 8px;
          position: relative;
          object-fit: contain;
          z-index: $z-index-top;

          .icon {
            font-size: 36px;
            height: 100%;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
