@import "_variables.scss";
@import "_animations.scss";


.navbar.wiresheet-toolbar {
  background-color: $color-theme-2 !important;
  border-top-left-radius: 0.35rem;
  border-left: $color-wiresheet-toolbar 1px solid;
  border-top: $color-wiresheet-toolbar 1px solid;
  border-bottom: $color-wiresheet-toolbar 1px solid;
  padding: 0;
}

.navbar.wiresheet-toolbar .icon {
  color: $color-blurple;
  font-size: 36px;
  align-self: center;
}

.navbar.wiresheet-toolbar .navbar-nav {
  gap: 0;
}

.navbar.wiresheet-toolbar .navbar-nav .nav-item a {
  border-radius: 0;
  color: $color-titlebar-textcolor;
  font-weight: 400;
}

.navbar.wiresheet-toolbar .navbar-nav .nav-item a:hover {
  background-color: $color-theme-3;
  color: $color-titlebar-textcolor;
}

.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: $color-theme-2;
  color: $color-titlebar-textcolor;
  border: $color-wiresheet-toolbar 1px solid;
}


.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown:hover > .dropdown-menu {
  display: none !important;
}

.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.active, .dropdown-item:hover, .dropdown-item:focus {
  background-color: $color-theme-3;
}

.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.active, .dropdown-item.show {
  background-color: $color-theme-3;
}


.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-divider {
  border-top: $color-wiresheet-toolbar 1px solid;
}


.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item .pointer {
  color: $color-titlebar-textcolor;
  font-size: small;
  font-stretch: condensed;
  align-self: center;
}


.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown:hover > .dropdown-menu {
  display: block !important;

}

.navbar.wiresheet-toolbar .navbar-nav .nav-item.dropdown-submenu:hover > .dropdown-menu {
  display: block !important;
  left: 100%;
  margin-top: -37px;

}

.navbar.wiresheet-toolbar .navbar-nav .nav-item .dropdown-submenu:hover > .dropdown-menu {
  display: block !important;
  left: 100%;
  margin-top: -37px;
}

/* Wiresheet */

.diagram-container {
  width: 100%;
  height: 100%;
  background-color: $color-theme-3;
}


/*
.block {
    border-radius: 10px;
    padding-left: 4px;
    overflow: visible;

}
.block.selected {
    box-shadow: 0 0 8px 1px $color-selected;
}

.block.error {
    border-radius: 10px;
    box-shadow: 0 0 0 $color-error-60;
    animation: error 2s infinite;
}
*/

.editor{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-theme-3;
    overflow: hidden;

}
.dOSC-wiresheet-toolbar-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: calc($z-index-ui + 1);
    height: 30px;
    width: 100%;
    background-color: $color-theme-3;
    display: flex;
    border-bottom: 1px solid $color-theme-2;
    box-shadow: 0 4px 2px 0 $color-shadow-07;
    color: $color-full-white;
    font-size: 16px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
  
    .dOSC-wiresheet-toolbar-item{
      display: flex;
      align-content: center;
      height: 100%;
      user-select: none;
      cursor: pointer;
      align-items: center;
      padding: 2px 13px;
      gap: 4px;
      .dOSC-wiresheet-toolbar-item-icon{
        
          text-align:  center;
          font-size: 20px;
          padding: 8px 4px;
          &.primary{
            color: $color-primary;
            font-weight: bold;
            font-size: 24px;
          }
          
          &.secondary{
            color: $color-secondary;
          }
      }
      
      &:hover:not(.active){
        background-color: darken($color-theme-4, .25);
        color: $color-grey;
      }
      
      &.active{
        background-color: darken($color-theme-4, .25);
        color: $color-grey;
      }
    }  
  
    .dOSC-wiresheet-name
    {
        display: flex;
        align-content: center;
        height: 100%;
        font-weight: bold;
        flex-grow: 1;
        position: relative;
        border-left: 1px solid $color-theme-2;
        border-right: 1px solid $color-theme-2;
        padding: 0 8px;
      span{
            padding: 0 12px;
            
            align-self: center;
          &:hover{
            cursor: pointer;
            background-color: darken($color-theme-4, .25);
            color: $color-grey;
            border-raius: 12px;

          }
        }
      
        input {
          outline: none;
          background-color: darken($color-theme-4, .25);
          width: min-content;
          font-size: 16px;
          border: none;
          color: $color-full-white;
          padding: 0 12px;
          margin: 2px 0;
          text-overflow: ellipsis;
          transition: all 0.3s ease;
          font-weight: bold;
          border-raius: 12px;
        }
    }  
}
.wiresheet-panel{
    position: absolute;
    z-index: $z-index-ui;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    top: 0;
    transition: transform 120ms ease-in-out;
    height: 100%;
    width: 300px;
    background: $color-theme-3;
    border-left: 1px solid $color-theme-2;
    padding-top: 30px;
   flex-direction: column;
    
  &.right
    {
        right: 0;
        box-shadow: -4px 0 2px 0 $color-shadow-07;

      &.collapsed{
          transform: translateX(100%);
          
        }
    }
    &.left{
      box-shadow: 4px 0 2px 0 $color-shadow-07;

      left: 0;
          &.collapsed{
          transform: translateX(-100%);
        }
    }
    .wiresheet-panel-header{
       width: 100%;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: space-between;
      flex-direction: column;
      padding: 10px;

    }
  .wiresheet-panel-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
  
    
    .wiresheet-panel-body-group
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 4px;
        .wiresheet-panel-body-group-label {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: bold;
          padding: 4px 10px;
          user-select: none;
          border-bottom: 1px solid $color-full-white;
          width: 100%;
          color: $color-full-white;

        }
        &:last-child {
          margin-bottom: 10px;
        }

    }
    
    
    .wiresheet-panel-body-item{
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 4px 10px;
      background: $color-theme-4;
      border-radius: 10px;
      color: $color-full-white;
      user-select: none;
      transition: background 120ms ease-in-out;
      border: 2px solid $color-theme-4;
      width: 100%;


      &:hover{
        background: $color-blurple;
        cursor: pointer;
        
      }



      .wiresheet-panel-body-item-icon{
        display: flex;
        font-size: 18px;
        align-items: center; 
        justify-content: space-between;
      }
      .wiresheet-panel-body-item-title{
        font-size: 16px;
        font-weight: bold;
      }

    }

  }
  .wiresheet-panel-footer{

  }
}
 


@-webkit-keyframes error {
  0% {
    -webkit-box-shadow: 0 0 0 0 $color-error-60;
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px $color-error-0;
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 $color-error-0;
  }
}

@keyframes error {
  0% {
    -moz-box-shadow: 0 0 0 0 $color-error-60;
    box-shadow: 0 0 0 0 $color-error-60;
  }

  70% {
    -moz-box-shadow: 0 0 0 10px $color-error-0;
    box-shadow: 0 0 0 10px $color-error-0;
  }

  100% {
    -moz-box-shadow: 0 0 0 0 $color-error-0;
    box-shadow: 0 0 0 0 $color-error-0;
  }
}


.block-context-menu {
  position: absolute;
  background-color: $color-theme-1;
  border: solid 2px $color-theme-1;
  border-radius: 10px;
  padding: 4px;
  z-index: 1000;
  display: none;

  .visible {
    display: block;
  }

  .item {
    padding: 8px 10px;
    font-size: 15px;
    color: $color-titlebar-textcolor;
    cursor: pointer;
    border-radius: inherit;

    :hover {
      background: $color-theme-2;
    }
  }


}


.block-note-container {
  border-radius: 10px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 2px 2px;
  max-width: 600px;
  min-width: min-content;
  height: min-content;
  background-color: transparentize($color-black, .6);
  border: solid 2px transparentize($color-black, .8);
  user-select: none;
  font-weight: bolder;
  font-size: 18px;
  color: $color-full-white;


  &.black {
    background-color: transparentize($color-black, .6);
    border-color: transparentize($color-black, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-black, .6);
        border-color: transparentize($color-black, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-black, .4);
        }
      }
    }
  }

  &.white {
    background-color: transparentize($color-white, .6);
    border-color: transparentize($color-white, .8);
    color: $color-black-lighter;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-white, .6);
        border-color: transparentize($color-white, .8);
        color: $color-black-lighter;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-white, .4);
        }
      }
    }
  }

  &.red {
    background-color: transparentize($color-red, .6);
    border-color: transparentize($color-red, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-red, .6);
        border-color: transparentize($color-red, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-red, .4);
        }
      }
    }
  }

  &.orange {
    background-color: transparentize($color-orange, .6);
    border-color: transparentize($color-orange, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-orange, .6);
        border-color: transparentize($color-orange, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-red, .4);
        }
      }
    }
  }

  &.yellow {
    background-color: transparentize($color-yellow, .6);
    border-color: transparentize($color-yellow, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-yellow, .6);
        border-color: transparentize($color-yellow, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-yellow, .4);
        }
      }
    }
  }

  &.blue {
    background-color: transparentize($color-blue, .6);
    border-color: transparentize($color-blue, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-blue, .6);
        border-color: transparentize($color-blue, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-blue, .4);
        }
      }
    }
  }

  &.green {
    background-color: transparentize($color-green, .6);
    border-color: transparentize($color-green, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-green, .6);
        border-color: transparentize($color-green, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-green, .4);
        }
      }
    }
  }

  &.purple {
    background-color: transparentize($color-purple, .6);
    border-color: transparentize($color-purple, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-purple, .6);
        border-color: transparentize($color-purple, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-purple, .4);
        }
      }
    }
  }

  &.magenta {
    background-color: transparentize($color-magenta, .6);
    border-color: transparentize($color-magenta, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-magenta, .6);
        border-color: transparentize($color-magenta, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-magenta, .4);
        }
      }
    }
  }

  &.pink {
    background-color: transparentize($color-pink, .6);
    border-color: transparentize($color-pink, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-pink, .6);
        border-color: transparentize($color-pink, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-pink, .4);
        }
      }
    }
  }

  &.grey {
    background-color: transparentize($color-grey, .6);
    border-color: transparentize($color-grey, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-grey, .6);
        border-color: transparentize($color-grey, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-grey, .4);
        }
      }
    }
  }

  &:hover {
    .block-container-header {
      .block-container-header-setting {
        opacity: 1;
        transition: opacity ease-in-out 250ms;
      }
    }
  }

  &.selected {
    box-shadow: 0 0 8px 1px $color-selected;
  }

  &.error :not(.selected) {
    border-radius: 10px;
    box-shadow: 0 0 0 $color-error-60;
    animation: error 2s infinite;
  }

  .block-container-header {
    display: flex;
    flex-direction: row;
    gap: 0px 2px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px;

    .block-container-header-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      width: 18px;
      padding: 10px;

      &.text {
        width: unset;
        padding: 10px 2px;
        font-weight: 500;
      }
    }

    .block-container-header-title {
      flex-grow: 1;
      height: 18px;
      display: flex;
      justify-content: start;
      align-items: center;
      white-space: nowrap;
    }

    .block-container-header-setting {
      opacity: 0;
      transition: opacity ease-in-out 250ms;
      height: 18px;
      width: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      padding: 10px;


      &:hover {
        background: transparentize($color-black, .4)
      }
    }


  }

  .block-container-body-container {
    letter-spacing: 1px;
    font-size: 18px;
    padding: 2px 4px;

    .note-container {
      background-color: transparentize($color-black, .6);
      border: solid 2px transparentize($color-black, .8);
      border-radius: 8px;
      color: $color-full-white;
      font-weight: bolder;
      resize: none;
      width: 100%;
      height: min-content;
      padding: 12px;
    }


  }
}


.block-container {
  border-radius: 10px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 2px 2px;
  min-width: 120px;
  background-color: $color-grey-white;
  border: solid 2px $color-theme-1;
  user-select: none;
  font-weight: bolder;
  font-size: 18px;


  &.Math {
    background-color: $color-purple;
    color: $color-full-white;
  }

  &.Logic {
    background-color: $color-green;
    color: $color-full-white;
  }

  &.Connector {
    background-color: $color-pink;
    color: $color-full-white;
  }

  &.Utilities {
    background-color: $color-blurple-lighter;
    color: $color-full-white;
  }


  &:hover {
    .block-container-header {
      .block-container-header-setting {
        opacity: 1;
        transition: opacity ease-in-out 250ms;
      }
    }
  }

  &.selected {
    box-shadow: 0 0 8px 1px $color-selected;
  }

  &.error :not(.selected) {
    border-radius: 10px;
    box-shadow: 0 0 0 $color-error-60;
    animation: error 2s infinite;
  }

  .block-container-header {
    display: flex;
    flex-direction: row;
    gap: 0px 2px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px;

    .block-container-header-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      width: 18px;
      padding: 10px;

      &.text {
        width: unset;
        padding: 10px 2px;
        font-weight: 500;
      }
    }

    .block-container-header-title {
      flex-grow: 1;
      height: 18px;
      display: flex;
      justify-content: start;
      align-items: center;
      white-space: nowrap;
    }

    .block-container-header-setting {
      opacity: 0;
      transition: opacity ease-in-out 250ms;
      height: 18px;
      width: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      padding: 10px;


      &:hover {
        background: $color-theme-3;
      }
    }
  }

  .block-container-body-container {
    padding-left: 4px;
    font-weight: bolder;
    font-size: 18px;
    color: $color-full-white;

    .block-container-body {
      border: 1px solid $color-theme-1;
      padding: 4px 4px;
      background: $color-theme-1;
      display: flex;
      gap: 4px 20px;
      flex-direction: column;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      justify-content: end;
      align-items: center;

      .block-container-body-ports {
        border: 1px solid $color-theme-1;
        padding: 0px 4px;
        background: $color-theme-1;
        display: flex;
        gap: 0 20px;
        flex-direction: row;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        justify-content: end;
        align-items: center;
        position: relative;
        width: 100%;

        .block-container-port-container {
          padding: 4px;
          width: 100%;

          &.input {
            .item {
              align-items: start;

              .label {
                white-space: nowrap;
              }

              .port {
                position: absolute;
                left: -26px;
              }
            }
          }

          &.output {
            .item {
              align-items: end;

              .label {
                text-align: right;
                width: 100%;
              }


              .port-label {
                right: -124px;
                text-align: left;
                width: 100px;
                transform: translateY(-14px);
              }

              .port {
                right: -24px;
              }
            }
          }

          .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4px 0;

            .label {
              white-space: nowrap;
            }

            .port-label {
              position: absolute;
              color: $color-full-white;
              font-weight: 400;
              pointer-events: none;
              white-space: nowrap;
            }

            .port {
              transform: translateY(2px);
              position: absolute;
              background-color: $color-full-white;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: solid 2px $color-theme-1;

              &:hover {
                box-shadow: 0 0 2px 1px $color-selected;
              }

              &.logic {
                background-color: $color-green;

                &:hover {
                  background-color: $color-green-darker;
                }
              }

              &.numeric {
                background-color: $color-purple;

                &:hover {
                  background-color: $color-purple-darker;
                }
              }

              &.multi {
                background-color: $color-full-white;

                &:hover {
                  background-color: $color-grey;
                }
              }

              &.string {
                background-color: $color-orange;

                &:hover {
                  background-color: $color-orange-darker;
                }
              }

              &.error {
                border: solid 2px $color-error;
              }

              &.dataconnector {
                background-color: $color-pink;

                &:hover {
                  background-color: $color-pink-darker;
                }
              }
            }
          }
        }
      }
    }
  }
}