@import "_variables.scss";
@import "_animations.scss";

/* Wiresheet */

.diagram-container {
  width: 100%;
  height: 100%;
  background-color: $color-theme-3;
}
 
.editor{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-theme-3;
    overflow: hidden;

}
.dOSC-wiresheet-toolbar-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: calc($z-index-ui + 1);
    height: 30px;
    width: 100%;
    background-color: $color-theme-3;
    display: flex;
    border-bottom: 1px solid $color-theme-2;
    box-shadow: 0 4px 2px 0 $color-shadow-07;
    color: $color-full-white;
    font-size: 16px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
  
    .dOSC-wiresheet-toolbar-item{
      display: flex;
      align-content: center;
      height: 100%;
      user-select: none;
      cursor: pointer;
      align-items: center;
      padding: 2px 13px;
      gap: 4px;
      .dOSC-wiresheet-toolbar-item-icon{
        
          text-align:  center;
          font-size: 20px;
          padding: 8px 4px;
          align-self: center;
          &.primary{
            @include text-gradient($color-blurple);
            font-weight: bold;
            font-size: 24px;
          }
          
          &.secondary{
            color: $color-secondary;
          }
      }
      
      &:hover:not(.active){
        background-color: darken($color-theme-4, .25);
        color: $color-grey;
      }
      
      &.active{
        background-color: darken($color-theme-4, .25);
        color: $color-grey;
      }
    }  
  
    .dOSC-wiresheet-name
    {
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: bold;
        flex-grow: 1;
        position: relative;
        border-left: 1px solid $color-theme-2;
        border-right: 1px solid $color-theme-2;
        padding: 2px 8px;

 
    }  
}
.wiresheet-panel{
    position: absolute;
    z-index: $z-index-ui;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    top: 0;
    transition: transform 120ms ease-in-out;
    height: 100%;
    width: 300px;
    background: $color-theme-3;
    border-left: 1px solid $color-theme-2;
    padding-top: 30px;
   flex-direction: column;
    
  &.right
    {
        right: 0;
        box-shadow: -4px 0 2px 0 $color-shadow-07;

      &.collapsed{
          transform: translateX(100%);
          
        }
    }
    &.left{
      box-shadow: 4px 0 2px 0 $color-shadow-07;

      left: 0;
          &.collapsed{
          transform: translateX(-100%);
        }
    }
    .wiresheet-panel-header{
       width: 100%;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: space-between;
      flex-direction: column;
      padding: 10px;

    }
  .wiresheet-panel-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
  
    
    .wiresheet-panel-body-group
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 4px;
        .wiresheet-panel-body-group-label {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: bold;
          padding: 4px 10px;
          user-select: none;
          border-bottom: 1px solid $color-full-white;
          width: 100%;
          color: $color-full-white;

        }
        &:last-child {
          margin-bottom: 10px;
        }

    }
    
    
    .wiresheet-panel-body-item{
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 4px 10px;
      background: $color-theme-4;
      border-radius: 10px;
      color: $color-full-white;
      user-select: none;
      transition: background 120ms ease-in-out;
      border: 2px solid $color-theme-4;
      width: 100%;


      &:hover{
        @include gradient-3d($color-blurple);
        cursor: pointer;
      }
      
      .wiresheet-panel-body-item-icon{
        display: flex;
        font-size: 18px;
        align-items: center; 
        justify-content: space-between;
      }
      .wiresheet-panel-body-item-title{
        font-size: 16px;
        font-weight: bold;
      }

    }

  }
  .wiresheet-panel-footer{

  }
}
 




.block-context-menu {
  position: absolute;
  background-color: $color-theme-1;
  border: solid 2px $color-theme-1;
  border-radius: 10px;
  padding: 4px;
  z-index: 1000;
  display: none;

  .visible {
    display: block;
  }

  .item {
    padding: 8px 10px;
    font-size: 15px;
    color: $color-titlebar-textcolor;
    cursor: pointer;
    border-radius: inherit;

    :hover {
      background: $color-theme-2;
    }
  }


}

.node
{
    display: flex;
    flex-direction: column;
    gap: 2px 2px;
    align-items: center;
    justify-content: flex-start;
    background: $node-base-color;
    border: 1px solid $node-border-color;
    border-radius: 8px;
    color: $color-full-white;
  
    &.error:not(.selected) {
      border-radius: 10px;
      animation: node-error 2s ease-in-out infinite;
    }
  
    &.selected {
      box-shadow: 0 0 8px 1px $node-selected;
    }
  
    &.node-category-logic 
    {
      .node-header {
         @include gradient-3d($node-category-logic);
      }
    }
   
  
    &.node-category-data
    {
      .node-header {
        @include gradient-3d($node-category-data);
      }
    }
    &.node-category-utility
    {
      .node-header {
        @include gradient-3d($node-category-utility);
      }
    }
    &.node-category-mathematics
    {
      .node-header {
        @include gradient-3d($node-category-mathematics);
      }
    }
    &.node-category-variables
    {
      .node-header {
        @include gradient-3d($node-category-variables);
      }
    }
  &.node-category-time
  {
    .node-header {
      @include gradient-3d($node-category-time);
    }
  }
  
    .node-header {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 20px;
      padding: 5px 10px;
      flex-wrap: nowrap;
      border-bottom: 1px solid $node-border-color;
      border-radius: 8px 8px 8px 0;
      
      .node-header-icon {
        font-weight: bold;
      }
      .node-header-title {
        font-weight: bold;
        padding: 2px 8px;
        border-radius: 8px;
        white-space: nowrap;
        flex-grow: 1;
        
      }
      
      .node-header-setting{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: white;
        font-weight: bold;
        text-align:left;
        white-space: nowrap;
        border-radius: 50%;
        padding: 4px;
        &:hover{
          background-color: transparentize($color-black, .6);
          cursor: pointer;
        }
      }
      
    }
    .node-body{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .node-content{
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        display: flex;
      }

      .node-port-container
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        gap: 4px;
        flex-wrap: nowrap;
        padding: 4px 8px;
        box-sizing: border-box;
        font-size: 16px;
        min-width: 12px;
        width: auto;
        &.inputs {
          align-items: start;
        }
        &.outputs {
          align-items: end;
        }
        
        .node-port {
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 4px;
          flex-wrap: nowrap;
          align-items: center;
          padding: 8px;
          
          .node-port-value{
            position: absolute;
            top: 0;
            white-space: nowrap;
            user-select: none;
            pointer-events: none;
            
          }
          
          &.input
          {
            transform: translateX(-28px);
            .node-port-value{
              left: 0;
              text-align: right;
              transform: translateX(-100%) translateY(-24px);
            }
          }

          &.output
          {
            transform: translateX(28px);
            .node-port-value{
              right: 0;
              text-align: left;
              transform: translateX(100%) translateY(-24px);
            }
          }
          
          
          
          .diagram-port
          {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $node-port-unknown;
            border: solid 1px $node-border-color;
            cursor: pointer;
            pointer-events: all;
            position: relative;
            &:hover
            {
              background: darken($node-port-unknown,  10%);
            }
            
            &.Logic {
                background: $node-port-logic;
              &:hover {
                background: darken($node-port-logic, 10%);
              }
            }
            &.Numeric {
                background: $node-port-numeric;
              &:hover {
                background: darken($node-port-numeric, 10%);
              }
            }
            &.String {
                background: $node-port-string;
              &:hover {
                background: darken($node-port-string, 10%);
              }
            }
            &.Time {
                background: $node-port-time;
              &:hover {
                background: darken($node-port-time, 10%);
              }
            }
          }
        }
      }
    }
  }


.block-note-container {
  border-radius: 10px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 2px 2px;
  max-width: 600px;
  min-width: min-content;
  height: min-content;
  background-color: $color-black;
  border: solid 2px transparentize($color-black, .8);
  user-select: none;
  font-weight: bolder;
  font-size: 18px;
  color: $color-full-white;


  &.black {
    background-color: transparentize($color-black, .6);
    border-color: transparentize($color-black, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-black, .6);
        border-color: transparentize($color-black, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-black, .4);
        }
      }
    }
  }

  &.white {
    background-color: transparentize($color-white, .6);
    border-color: transparentize($color-white, .8);
    color: $color-black-lighter;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-white, .6);
        border-color: transparentize($color-white, .8);
        color: $color-black-lighter;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-white, .4);
        }
      }
    }
  }

  &.red {
    background-color: transparentize($color-red, .6);
    border-color: transparentize($color-red, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-red, .6);
        border-color: transparentize($color-red, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-red, .4);
        }
      }
    }
  }

  &.orange {
    background-color: transparentize($color-orange, .6);
    border-color: transparentize($color-orange, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-orange, .6);
        border-color: transparentize($color-orange, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-red, .4);
        }
      }
    }
  }

  &.yellow {
    background-color: transparentize($color-yellow, .6);
    border-color: transparentize($color-yellow, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-yellow, .6);
        border-color: transparentize($color-yellow, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-yellow, .4);
        }
      }
    }
  }

  &.blue {
    background-color: transparentize($color-blue, .6);
    border-color: transparentize($color-blue, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-blue, .6);
        border-color: transparentize($color-blue, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-blue, .4);
        }
      }
    }
  }

  &.green {
    background-color: transparentize($color-green, .6);
    border-color: transparentize($color-green, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-green, .6);
        border-color: transparentize($color-green, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-green, .4);
        }
      }
    }
  }

  &.purple {
    background-color: transparentize($color-purple, .6);
    border-color: transparentize($color-purple, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-purple, .6);
        border-color: transparentize($color-purple, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-purple, .4);
        }
      }
    }
  }

  &.magenta {
    background-color: transparentize($color-magenta, .6);
    border-color: transparentize($color-magenta, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-magenta, .6);
        border-color: transparentize($color-magenta, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-magenta, .4);
        }
      }
    }
  }

  &.pink {
    background-color: transparentize($color-pink, .6);
    border-color: transparentize($color-pink, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-pink, .6);
        border-color: transparentize($color-pink, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-pink, .4);
        }
      }
    }
  }

  &.grey {
    background-color: transparentize($color-grey, .6);
    border-color: transparentize($color-grey, .8);
    color: $color-white;

    .block-container-body-container {
      .note-container {
        background-color: transparentize($color-grey, .6);
        border-color: transparentize($color-grey, .8);
        color: $color-white;
      }
    }

    .block-container-header {
      .block-container-header-setting {
        &:hover {
          background: transparentize($color-grey, .4);
        }
      }
    }
  }

  &:hover {
    .block-container-header {
      .block-container-header-setting {
        opacity: 1;
        transition: opacity ease-in-out 250ms;
      }
    }
  }

  &.selected {
    box-shadow: 0 0 8px 1px $color-selected;
  }

  &.error :not(.selected) {
    border-radius: 10px;
    box-shadow: 0 0 0 $color-error-60;
    animation: error 2s infinite;
  }

  .block-container-header {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px;

    .block-container-header-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      width: 18px;
      padding: 10px;

      &.text {
        width: unset;
        padding: 10px 2px;
        font-weight: 500;
      }
    }

    .block-container-header-title {
      flex-grow: 1;
      height: 18px;
      display: flex;
      justify-content: start;
      align-items: center;
      white-space: nowrap;
    }

    .block-container-header-setting {
      opacity: 0;
      transition: opacity ease-in-out 250ms;
      height: 18px;
      width: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      padding: 10px;
    

      &:hover {
        background: transparentize($color-black, .4)
      }
    }


  }

  .block-container-body-container {
    letter-spacing: 1px;
    font-size: 18px;
    padding: 2px 4px;
    d
    
    
    
    
    .note-container {
      background-color: transparentize($color-black, .6);
      border: solid 2px transparentize($color-black, .8);
      border-radius: 8px;
      color: $color-full-white;
      font-weight: bolder;
      resize: none;
      width: 100%;
      height: min-content;
      padding: 12px;
    }


  }
}


.block-container {
  border-radius: 10px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 2px 2px;
  min-width: 120px;
  background-color: $color-grey-white;
  border: solid 2px $color-theme-1;
  user-select: none;
  font-weight: bolder;
  font-size: 18px;


  &.Math {
    background-color: $color-purple;
    color: $color-full-white;
  }

  &.Logic {
    background-color: $color-green;
    color: $color-full-white;
  }

  &.Connector {
    background-color: $color-pink;
    color: $color-full-white;
  }

  &.Utilities {
    background-color: $color-blurple-lighter;
    color: $color-full-white;
  }


  &:hover {
    .block-container-header {
      .block-container-header-setting {
        opacity: 1;
        transition: opacity ease-in-out 250ms;
      }
    }
  }

  &.selected {
    box-shadow: 0 0 8px 1px $color-selected;
  }

  &.error :not(.selected) {
    border-radius: 10px;
    box-shadow: 0 0 0 $color-error-60;
    animation: error 2s infinite;
  }

  .block-container-header {
    display: flex;
    flex-direction: row;
    gap: 0px 2px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px;

    .block-container-header-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      width: 18px;
      padding: 10px;

      &.text {
        width: unset;
        padding: 10px 2px;
        font-weight: 500;
      }
    }

    .block-container-header-title {
      flex-grow: 1;
      height: 18px;
      display: flex;
      justify-content: start;
      align-items: center;
      white-space: nowrap;
    }

    .block-container-header-setting {
      opacity: 0;
      transition: opacity ease-in-out 250ms;
      height: 18px;
      width: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      padding: 10px;


      &:hover {
        background: $color-theme-3;
      }
    }
  }

  .block-container-body-container {
    padding-left: 4px;
    font-weight: bolder;
    font-size: 18px;
    color: $color-full-white;

    .block-container-body {
      border: 1px solid $color-theme-1;
      padding: 4px 4px;
      background: $color-theme-1;
      display: flex;
      gap: 4px 20px;
      flex-direction: column;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      justify-content: end;
      align-items: center;

      .block-container-body-ports {
        border: 1px solid $color-theme-1;
        padding: 0px 4px;
        background: $color-theme-1;
        display: flex;
        gap: 0 20px;
        flex-direction: row;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        justify-content: end;
        align-items: center;
        position: relative;
        width: 100%;

        .block-container-port-container {
          padding: 4px;
          width: 100%;

          &.input {
            .item {
              align-items: start;

              .label {
                white-space: nowrap;
              }

              .port {
                position: absolute;
                left: -26px;
              }
            }
          }

          &.output {
            .item {
              align-items: end;

              .label {
                text-align: right;
                width: 100%;
              }


              .port-label {
                right: -124px;
                text-align: left;
                width: 100px;
                transform: translateY(-14px);
              }

              .port {
                right: -24px;
              }
            }
          }

          .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4px 0;

            .label {
              white-space: nowrap;
            }

            .port-label {
              position: absolute;
              color: $color-full-white;
              font-weight: 400;
              pointer-events: none;
              white-space: nowrap;
            }

            .port {
              transform: translateY(2px);
              position: absolute;
              background-color: $color-full-white;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: solid 2px $color-theme-1;

              &:hover {
                box-shadow: 0 0 2px 1px $color-selected;
              }

              &.logic {
                background-color: $color-green;

                &:hover {
                  background-color: $color-green-darker;
                }
              }

              &.numeric {
                background-color: $color-purple;

                &:hover {
                  background-color: $color-purple-darker;
                }
              }

              &.multi {
                background-color: $color-full-white;

                &:hover {
                  background-color: $color-grey;
                }
              }

              &.string {
                background-color: $color-orange;

                &:hover {
                  background-color: $color-orange-darker;
                }
              }

              &.error {
                border: solid 2px $color-error;
              }

              &.dataconnector {
                background-color: $color-pink;

                &:hover {
                  background-color: $color-pink-darker;
                }
              }
            }
          }
        }
      }
    }
  }
}