<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"  @onclick:preventDefault role="button" data-bs-toggle="dropdown" aria-expanded="false" disabled>
        @Title
    </a>
    <ul class="dropdown-menu">
        @ChildContent
    </ul>
</li>