@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets

<CascadingValue Value="_Diagram" IsFixed="false">
    <DiagramCanvas>
        <Widgets>
            <SelectionBoxWidget />
            <GridWidget Size="30" Mode="GridMode.Point" BackgroundColor="#2c2f33" />
            <NavigatorWidget Width="200" Height="120" UseNodeShape
                              Class="border border-black absolute"
                              Style="bottom: 40px; right: 15px; background-color:#2c2f33;" />
         </Widgets>
     </DiagramCanvas>
 </CascadingValue>
@*  @if(_Diagram != null)
{
    <div class="wiresheet-bottom-toolbar">
        <PlayPauseButton @bind-IsPlaying="_Diagram.SuspendRefresh" />
    </div>
}
 *@