@using Blazor.Diagrams.Components.Renderers
@using dOSCEngine.Engine.Helper
<div class="@this.Node.BlockHeaderClass" style="width: 200px;">
    <div class="block-header d-flex d-inline">
        <div class="icon"> </div>
        <div class="title">Rolling Average</div>
    </div>
    <div class="block-body">
        <div class="d-flex flex-column">
            <div class="d-flex d-inline p-1 align-items-center justify-center">
                <PortRenderer Class="numeric" Port="this.Node.Ports[0]" />
                <h5>Input</h5>
                <PortValueLabel LabelPosition=PortValueLabel.Position.Right DisplayValue="this.Node.Value" />
                <PortRenderer Class="numeric" Port="this.Node.Ports[1]" />
            </div>
        </div>
    </div>
</div>
