@*@using Wiresheet.Client.Engine.Node
@using Wiresheet.Component.Wiresheet.Node
@implements IDisposable
<div class="Wiresheet-progress-bar-container">
    <div class="Wiresheet-progress-bar-indicator" style="width: @(Node.Progress)%;" @key="Node.Progress"> </div>
</div>


@code {

    [Parameter] public WiresheetNode Node { get; set; } = null!;

    private DateTime _lastUpdate = DateTime.MinValue;

    protected override bool ShouldRender()
    {
        return Node?.Dragging != true;
    }

    private void Update()
    {
        if ((DateTime.Now - _lastUpdate > WiresheetHelper.UpdateInterval) & (Node?.Dragging != true))
        {
            _lastUpdate = DateTime.Now;
            InvokeAsync(StateHasChanged);
        }
    }

    protected override void OnInitialized()
    {
        Node.OnProgressBarUpdateRequest += Update;
    }

    public void Dispose()
    {
        Node.OnProgressBarUpdateRequest -= Update;
    }


}*@