@using dOSC.Component.Wiresheet.Nodes
@using BlazorContextMenu
@using Blazor.Diagrams.Core
@using dOSC.Component.Wiresheet.Models
@inject IBlazorContextMenuService Cm
@inject IJSRuntime JS

<div class="node-header">
    @if (!Node.IconIsText)
    {
        <div class="node-header-icon @Node.Icon"></div>
    }
    else
    {
        <div class="node-header-icon text">@Node.Icon</div>
    }
    <div class="node-header-title"> @Node.GetDisplayName() </div>
    <div class="node-header-setting icon-cog " @onclick="OpenSettings"></div>
</div>



@code
{
    [Parameter] public WiresheetNode Node { get; set; } = new();
    public async Task OpenSettings()
    {
        var cursor = await JS.InvokeAsync<MousePosition>("getMousePosition");
        Cm.ShowMenu("Wiresheet-Node-CTXMenu", cursor.X, cursor.Y, data: Node);
    }
}