<EditForm id="setting-form" Model="@Setting" class="dosc-form" OnValidSubmit="FormSubmitted">
    <div class="dosc-form-item">
        <label>Access Token:</label>
        <label class="subtitle">To get your access token go <a href="" @onclick:preventDefault @onclick="OpenHelp">here</a></label>
        <InputText dataType="password" placeholder="Password" @bind-Value="@Setting.AccessToken"/>
    </div>

</EditForm>