@inherits LayoutComponentBase
@using dOSC.Components;

@* <div class="titlebar">
	<div class="titlebar-title"> dOSC </div>
	<div> Version Alpha</div>
	<div class="titlebar-button-group">
		<button class="titlebar-button" @onclick="Minimize">-</button>
		<button class="titlebar-button" @onclick="Maximize">□</button>
		<button class="titlebar-button" @onclick="Close">x</button>
	</div>
</div> *@
<div class="appbody">
	<AppNav />
	<AppBody>
		@Body
	</AppBody>
	<div id="snackbar-container"></div>
</div>
