<div class="mb-3">
    <label for="@Id" class="form-label">Email address</label>
    <input type="@InputType.ToString()" class="form-control" id="@Id" >
    <div id="@Id" class="form-text">We'll never share your email with anyone else.</div>
</div>
